/* Global cookie message */

.js-enabled #global-cookie-message {
  display: none; /* shown with JS, always on for non-JS */
}

#global-cookie-message {
  width: 100%;
  background-color: lighten(desaturate(govuk-colour("light-blue"), 8.46), 42.55);
  padding: govuk-spacing(3);

  p {
    @include govuk-font($size: 16);
    margin: 0;
  }
}
