// Subnav for product pages

nav.subnav {

    @extend %contain-floats;
    font-size: em(16);
    width: 100%;
    text-align: right;
    display: block;
    width: 100%;

    @media screen and (min-width: 640px) {
        margin-top: em(45);
    }

    ul {
        list-style: none;

        li {
            display: block;
            text-decoration: none;
            padding: 10px 15px 10px 0;
            text-align: left;
            background-color: transparent;
            border-bottom: 1px solid $grey-3;

            &.active {
                font-weight: bold;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
