@charset "utf-8";

@use 'govuk' as * with (
   $govuk-assets-path: '/assets/govuk/assets/'
);

@use 'modules/borders';
@use 'modules/content-section';
@use 'modules/cookie-banner';
@use 'modules/cookie-settings';
@use 'modules/header';
@use 'modules/hero';
@use 'modules/hero-alternative-action';
@use 'modules/image';
@use 'modules/inverted-button';
@use 'modules/masthead';
@use 'modules/navigation';
@use 'modules/related-items';
@use 'modules/responsive-embed';
@use 'modules/sticky';
@use 'modules/sub-navigation';
@use 'modules/task-list';

// scss-lint:disable IdSelector
#main-content {
  display: block;
  margin-bottom: govuk-spacing(9);
}
// scss-lint:enable IdSelector
