<div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to 'GOV.UK services', 'https://www.gov.uk/service-toolkit#gov-uk-services', class: 'govuk-breadcrumbs__link' %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to 'GOV.UK&nbsp;Pay', 'index', class: 'govuk-breadcrumbs__link' %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to current_page.data.title, '#main-content', :class => 'govuk-breadcrumbs__link', 'aria-current' => 'page' %>
    </li>
  </ol>
</div>
