<div class="govuk-grid-column-one-third">
  <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
    <ol itemscope itemtype="http://schema.org/ItemList">
      <%
        {
          'Using GOV.UK&nbsp;Pay' => ['using-govuk-pay', false],
          'Cost benefits of Pay' => ['cost-benefits-of-pay', true],
          'GOV.UK payment pages' => ['govuk-payment-pages', true],
          'API integration' => ['api-integration', true],
          'Take payments by phone or post' => ['take-payments-by-phone-or-post', true],
          'GOV.UK&nbsp;Pay’s Payment Service Provider' => ['payment-service-provider', false],
          'Direct Debit' => ['direct-debit', false],
          'Apple Pay and Google Pay' => ['apple-pay-and-google-pay', false],
          'Roadmap' => ['roadmap', false],
          'Security and compliance' => ['security', false]
        }.each do |title, url|
      %>
        <li
          class="sub-navigation__item<% if url[1] == true %> sub-navigation__item--sub<% end %><% if title == current_page %> sub-navigation__item--active<% end %>"
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem"
        >
          <% link_to url[0], class: 'govuk-link', :itemprop => 'item' do %>
            <span itemprop="name"><%= title %></span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </nav>
</div>
