---
title: GOV.UK Pay 3D Secure 2
---
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page"><%= current_page.data.title %></a>
      </li>
    </ol>
  </div>
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/take-payments-by-phone-or-post" itemprop="item"><span itemprop="name">Take payments by phone or post</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/security" itemprop="item"><span itemprop="name">Security and compliance</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/3d-secure-2" itemprop="item"><span itemprop="name">Strong Customer Authentication</span></a>
            </li>
          </ol>
        </nav>
      </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Strong Customer Authentication: what it is and how it works</h1>
      <p class="govuk-body">Strong Customer Authentication (SCA) aims to make online payments more secure for users and reduce fraud. It is part of the Payment Service Directive (PSD2) as enforced by the <a class="govuk-link" href="https://www.fca.org.uk/consumers/strong-customer-authentication">Financial Conduct Authority</a>.</p>
      <p class="govuk-body">Services that take payments from the EU, Norway, Iceland and Liechtenstein (otherwise known as the European Economic Area, EEA), must meet SCA regulation by 31 December 2020. Services that only take payments from within the UK need to meet SCA regulation by 14 September 2021.</p>
      <p class="govuk-body">Services meet SCA regulation by implementing 3D Secure 2 (3DS2) or 3D Secure (3DS) that adds an extra layer of identity confirmation before the user pays so that transactions meet the SCA rules.</p>
      <p class="govuk-body">3DS2 replaces 3DS. 3DS transactions offer a similar level of protection for users and are compliant with SCA requirements, but 3DS2 reduces friction for users and leads to a smoother paying user experience. 3DS will also be phased out in 2022, though the exact date for this has not been confirmed.</p>

      <h2 class="govuk-heading-m">What 3D Secure 2 means for users</h2>
      <p class="govuk-body">3DS2 requires 2 factor authentication, and will ask users for 2 out of 3 pieces of information to complete their transaction:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>something the user is, for example their fingerprint</li>
        <li>something the user has, for example their phone</li>
        <li>something the user knows, for example a password</li>
      </ul>

      <p class="govuk-body">Usually this means the user will have to enter a short code sent by SMS by their bank.</p>

      <p class="govuk-body">Transactions processed through digital wallets (such as Apple Pay or Google Pay) meet the 2 factor authentication requirements.</p>

      <p class="govuk-body">3DS2 will not apply to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>any transactions where either the merchant or payer is outside the EEA</li>
        <li>merchant initiated payments, for example subscriptions</li>
        <li>telephone payments</li>
      </ul>

      <p class="govuk-body">Some payments may be exempted from 3DS2:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>low value transactions, for example for those under £30</li>
        <li>low risk transactions when the Payment Service Provider (PSP) has low fraud levels across all its platform</li>
        <li>corporate payments (unless the corporate card is in the name of an individual)</li>
      </ul>

      <p class="govuk-body">Which exemptions are applied will depend on your Payment Service Provider (PSP). See ‘How to set up 3D Secure 2’ for more details.</p>

      <h2 class="govuk-heading-m">What 3D Secure 2 means for services</h2>
      <p class="govuk-body">You may see a reduction in fraud on your service because users need to provide additional authentication before making a payment.</p>
      <p class="govuk-body">Services are not liable for fraudulent or unrecognised transactions if they are processed by 3DS2. If a user disputes a 3DS2 transaction (for example using a chargeback) on the basis that it is fraudulent or unrecognised, it is the responsibility of the bank to refund the customer if required, because the bank approved 3DS2 transactions.</p>
      <p class="govuk-body">Services are still liable for transactions that are exempt from 3DS2 and are responsible if a user disputes a transaction on the basis that they did not receive the goods or service they paid for.</p>

      <h2 class="govuk-heading-m">How to set up 3D Secure 2</h2>
      <p class="govuk-body">The way you set up 3DS2 will depend on your Payment Service Provider (PSP).</p>

      <h3 class="govuk-heading-s">Stripe</h3>
      <p class="govuk-body">GOV.UK Pay is managing the 3DS2 integration with Stripe so you do not need to make any changes to your integration with us. Stripe will automatically apply exemptions.</p>

      <h3 class="govuk-heading-s">Worldpay</h3>
      <p class="govuk-body">Worldpay are implementing 3DS2 as part of their 3DS Flex product. You will receive 3DS Flex credentials from Worldpay and <a class="govuk-link" href="https://docs.payments.service.gov.uk/set_up_3dsecure/#set-up-3ds2-3ds-flex">you will need to add them into your Pay service</a>. You don’t need to enable 3D Secure on telephone payment (MOTO) services.</p>
      <p class="govuk-body">If you are a Government Banking customer, please email serviceteam.gbs@hmrc.gov.uk to get help enabling 3DS Flex on your account. We recommend that you do this soon as it provides a smoother experience for paying users.</p>
      <p class="govuk-body">If you have a direct contract with Worldpay (not via Government Banking), Worldpay can send you your 3DS Flex credentials so get in touch with your contact at Worldpay.</p>
      <p class="govuk-body">Worldpay will send all transactions via 3DS2 or 3DS. Worldpay does not apply exemptions by default but GOV.UK Pay supports Worldpay’s Exemption Engine. If you’d like to apply for exemptions for your transactions, <a class="govuk-link" href="https://www.payments.service.gov.uk/support/">contact GOV.UK Pay</a> to chat through your needs.</p>

      <h3 class="govuk-heading-s">Barclays ePDQ</h3>
      <p class="govuk-body">GOV.UK Pay has built the integration with 3DS2 for ePDQ. You will not need to make any changes to your integration. Exemptions (see above) will not be applied.</p>

      <h3 class="govuk-heading-s">Barclays Smartpay</h3>
      <p class="govuk-body">You can enable 3DS which meets the requirements of SCA.</p>

      <h2 class="govuk-heading-m">Costs for 3D Secure 2</h2>
      <p class="govuk-body">GOV.UK Pay will not pass on any of the costs of implementing 3D Secure 2. However, payment charges will vary depending on your PSP.</p>
      <p class="govuk-body">There’s no extra cost if you’re with Stripe.</p>
      <p class="govuk-body">Check with Worldpay, Barclays Smartpay and Barclays ePDQ for details of their individual costs. If you are a Government Banking customer, contact serviceteam.gbs@hmrc.gov.uk.</p>

      <h2 class="govuk-heading-m">Using digital wallets</h2>
      <p class="govuk-body">There is no extra cost for transactions using digital wallets because they meet the requirements for 3DS2 authentication. Check that you have enabled this option in your settings.</p>
      <p class="govuk-body">Apple Pay and Google Pay are currently only available for services using Worldpay on GOV.UK Pay. GOV.UK Pay plan to introduce this for Stripe.</p>

      <h2 class="govuk-heading-m">Actions for owners of services</h2>
      <p class="govuk-body">If you’re the owner of a service in GOV.UK Pay, you should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>make sure 3D Secure is activated in your <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/login">account settings</a> if you’re using Worldpay</li>
        <li>check with your PSP about any charges for 3D Secure 2</li>
        <li>activate Apple Pay and Google Pay in your account settings if you’re using Worldpay</li>
        <li><a class="govuk-link" href="https://docs.payments.service.gov.uk/moto_payments/#take-a-payment-over-the-phone-moto-payments">follow the instructions</a> if you use GOV.UK Pay to take phone payments – these are exempt from 3DS and 3DS2</li>
      </ul>

      <p class="govuk-body"><a class="govuk-link" href="/support/">Contact the GOV.UK Pay team</a> with any questions.</p>
    </div>
   </div>
  </main>
</div>
