---
title: Integrating your service with GOV.UK Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit on GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Using Apple Pay and Google Pay</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">Integrating your service with GOV.UK&nbsp;Pay</h1>

      <p>You can use GOV.UK Pay to take credit and debit card payments in your digital service.</p>

      <p>You’ll be able to:</p>
      <ul class="list list-bullet">
        <li>take payments using debit cards, credit cards or digital wallets</li>
        <li>give full or partial refunds</li>
        <li>switch Payment Service Providers, for free, when you choose</li>
        <li>use custom branding on your payment pages</li>
      </ul>
      <p>If you integrate with our RESTful API you can customise your payment pages to look like the rest of your digital service.</p>
      <p><a href="https://selfservice.payments.service.gov.uk/create-service/register">Create an account</a> for free and try it yourself.</p>

      <h3 class="heading-small">When to integrate your service</h3>
      <p>If you integrate you get all the features of GOV.UK Pay, plus some additional benefits.</p>

      <h3 class="heading-small">Control your payments</h3>
      <p>Using our API gives you greater flexibility over your payments. For example, it lets you delay payment to a time that suits you.</p>

      <h3 class="heading-small">Prepopulated fields</h3>
      <p>GOV.UK Pay prepopulates some transaction details so users only need to enter their details once.</p>

      <h3 class="heading-small">Reporting</h3>
      <p>Create transaction reports to track your payments. Or you can integrate your current income management systems with <a href="https://docs.payments.service.gov.uk/api_reference/#api-reference">our API</a>.</p>

      <h3 class="heading-small">Failure pages</h3>
      <p>Build your own payment failure pages to improve your users experience of your service.</p>

      <h3 class="heading-small">Metadata</h3>
      <p>Add metadata to your transactions to make it easier to reconcile payments. Add metadata to cost centre or ledger codes, customer IDs or any data you need to track.</p>

      <h2 class="heading-medium">Integrate with our API</h2>
      <p>You’ll need some developer help to get GOV.UK Pay set up.</p>
      <p>To get started you can:</p>
      <ul class="list list-bullet">
        <li>read our step by step guidance in our <a href="https://docs.payments.service.gov.uk/#gov-uk-pay-documentation">developer documentation</a></li>
        <li><a href="https://www.payments.service.gov.uk/support/">contact our team</a> for support</li>
      </ul>
      <p>If you want to find out more about all that GOV.UK Pay offers, see <a href="/using-govuk-pay">our features page</a>.</p>
    </div>
  </div>
</div>
