---
title: Apple Pay and Google Pay
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Using Apple Pay and Google Pay</h1>

        <p class="govuk-body">
          Your service can take payments using
          <%=
            link_to 'Apple Pay and Google Pay',
                    'https://docs.payments.service.gov.uk/digital_wallets/#take-a-digital-wallet-payment',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'Internal link clicked',
                    :class => 'govuk-link'
          %>
          on GOV.UK&nbsp;Pay.
        </p>

        <h2 class="govuk-heading-m">How Apple Pay and Google Pay work</h2>

        <p class="govuk-body">Any user with Apple Pay or Google Pay enabled can make payments on your service in seconds.</p>
        <p class="govuk-body">Because Apple Pay and Google already have users’ details, they do not have to fill them in again on GOV.UK&nbsp;Pay. They just have to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>click pay</li>
          <li>check their details which have been automatically completed</li>
          <li>confirm payment</li>
        </ul>

        <p class="govuk-body">The entire process takes users seconds.</p>

        <%= image_tag 'apple-pay-demo.gif', alt: 'Example of a transaction using Apple Pay on GOV.UK Pay', class: 'content-section__image govuk-!-margin-bottom-6' %>

        <h2 class="govuk-heading-m">Benefits of Apple Pay and Google Pay</h2>

        <p class="govuk-body">Using Apple Pay or Google Pay:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            is a more secure way to pay - users’ real card details are never stored or transferred and they can authorise payment biometrically using fingerprint or facial
            recognition
          </li>
          <li>makes it quicker - the whole process takes a few seconds</li>
          <li>makes paying easier - there are no forms to fill in as the user’s information is repeated by Apple Pay or Google Pay before users commit to the payment</li>
          <li>reduces errors - users do not have to retype any of their details</li>
        </ul>

        <p class="govuk-body">
          Using Apple Pay means you do not have to go through 3DS or 3DS2 authentication because that security is built-in. This makes it more secure for services to take payment
          as a user cannot create a chargeback (for fraud) on a payment.
        </p>

        <h2 class="govuk-heading-m">Contact us</h2>

        <p class="govuk-body">
          If you’d like to know more about using Apple Pay or Google Pay on GOV.UK&nbsp;Pay,
          <%= link_to 'contact GOV.UK&nbsp;Pay support.', 'support', class: 'govuk-link' %>
        </p>
      </div>
    </div>
  </main>
</div>
