---
title: Using Apple Pay and Google Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit on GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Using Apple Pay and Google Pay</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Using Apple Pay and Google Pay
      </h1>

      <p>You can now take payments using <a href="https://docs.payments.service.gov.uk/optional_features/digital_wallets/#digital-wallets" data-click-events data-click-category="Content" data-click-action="Internal link clicked">Apple Pay or Google Pay</a> on GOV.UK Pay.</p> <!-- Add link -->

      <h2 class="heading-medium">How Apple Pay and Google Pay works</h2>

      <p>Any user with Apple Pay or Google Pay enabled can make payments on your service in seconds.</p>
      <p>Because Apple Pay and Google already have users details, they don’t have to fill them in again on GOV.UK Pay. They simply have to:</p>

      <ul class="list list-bullet"> 
        <li>click pay</li>
        <li>check their details which have been automatically completed</li>
        <li>confirm payment</li>
      </ul>

      <p>The entire process takes users seconds.</p>

      <img class="content-section__image" src="/pay-product-page/images/apple-pay-demo.gif" alt="Example of creating a payment link and how the title is used to generate the payment link website address.">

      <h2 class="heading-medium">The Benefits of Apple Pay and Google Pay</h2>

      <p>Using Apple Pay or Google Pay:</p>

      <ul class="list list-bullet"> 
        <li>is a more secure way to pay - your real card details are never stored or transferred and only you can authorise payment biometrically using fingerprint or facial recognition</li>
        <li>makes it quicker - the whole process takes a few seconds</li>
        <li>makes paying easier - there are no forms to fill in as all the users information is played back from Apple Pay or Google Pay before users commit to the payment</li>
        <li>reduces errors - users don’t have to retype any of their details, Apple or Google pass on their verified details </li>
      </ul>

      <p>Using Apple Pay means you don’t have to go through 3DS or 3DS2 authentication as that security is built-in. This makes it more secure for services to take payment as a user can’t create a chargeback (for fraud) on a payment. </p>

      <h2 class="heading-medium">Who can use Apple Pay and Google Pay</h2>

      <p>GOV.UK Pay currently only offer Apple Pay and Google Pay with Worldpay.</p>
      <p>If you enable Google Pay in your payment settings credit and debit cards will also automatically be accepted.</p>

      <h2 class="heading-medium">What's next</h2>

      <p>In future, we intend to offer Apple Pay and Google Pay with our payment service provider, Stripe.</p>
      <p>We are also looking at including other digital wallets, for instance Samsung Pay, depending on user demand.</p>
      
      <h2 class="heading-medium">Contact Us</h2>

      <p>If you'd like to know more about using Apple Pay or Google Pay on GOV.UK Pay, <a href="/support">contact GOV.UK Pay support.</a></p>
    </div>
  </div>
</div>
