---
title: Blue Badge scheme - GOV.UK Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Blue Badge scheme</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row" data-click-events data-click-category="Content" data-click-action="Internal link clicked">
      <div class="column-two-thirds column-minimum">
        <h1 class="heading-large">
          Blue Badge scheme: how to take and process payments with GOV.UK Pay
        </h1>

        <p>From 4 February 2019, local authorities will no longer be able to use the existing Blue Badge Improvement Service for Blue Badge payments. The Department for Transport (DfT) has recommended local authorities use <a href="/">GOV.UK Pay</a> to take and process online payments for Blue Badges.</p>
        <p>This page gives further information to help local authorities prepare for this change.</p>

        <h2 class="heading-medium">What GOV.UK Pay is</h2>
        <p>GOV.UK Pay is a free and secure online payment service for government and public sector organisations. We comply with the Payment Card Industry Data Security Standard (PCI-DSS).</p>
        <p>You can read more general information about GOV.UK Pay on our <a href="/">product page</a> and our <a href="/features">features page</a>.</p>

        <h2 class="heading-medium">Payment service providers</h2>
        <p>GOV.UK Pay will procure a payment service provider (PSP) which will be made available to local authorities and other government departments. This will allow you to use the whole GOV.UK Pay service without the need for a separate or existing payment gateway.</p>
        <p>GOV.UK Pay will provide you with a centrally managed payments process. You will need to provide some details, such as the bank account and address of your organisation, and a copy of an identity document for someone who is authorised to sign contracts on your organisation’s behalf. </p>
        <p>If you have an exclusivity contract with another PSP, such as Worldpay Corporate Gateway, Barclays EPDQ or Barclays Smartpay/Adyen, it will still be possible to use your own gateway account.</p>

        <h2 class="heading-medium">Costs</h2>
        <p>The integration to take payments is built by the Department of Transport (DfT). If you choose to integrate with the <a href="https://docs.payments.service.gov.uk/quick_start_guide/#quick-start-guide">GOV.UK Pay API</a> to automate your reporting and refunds process, you’ll have to cover the costs of the team building the integration.</p>
        <p>The costs per transaction and per merchant will be confirmed once we have procured a payment service provider.</p>
        <p>There will not be any account creation or management fees.</p>

        <h2 class="heading-medium">Contract</h2>
        <p>Local authorities will need to sign a contract with GOV.UK Pay.</p>
        <p>Once you have a contract with us, you can also use GOV.UK Pay to take payments for other services you provide.</p>

        <h2 class="heading-medium">Payments</h2>
        <p>GOV.UK Pay processes debit and credit card transactions.</p>
        <p>All payments will be sent to the bank account you specify within the GOV.UK Pay configuration.</p>
        <p>Payments are processed instantly. They are paid into your account in batches 2 working days after the payment is made. You’ll be able to see payment information in real-time on your dashboard.</p>
        <p>Payments can be easily reconciled. Every payment will be assigned a unique application ID by the Blue Badge service. GOV.UK Pay also assigns a unique ID to every payment. It’s best to refer to the GOV.UK Pay ID when communicating with the <a href="/support">GOV.UK Pay support team</a>.</p>
        <p>Your service cannot take cash or cheque payments using GOV.UK Pay.</p>
        <p>We do not currently offer integrated reporting for phone payments. We’re carrying out a pilot with one service to see if this is something we can offer in future.</p>

        <h2 class="heading-medium">Documentation and support</h2>
        <p>GOV.UK Pay provides <a href="https://docs.payments.service.gov.uk/#gov-uk-pay-documentation">detailed documentation</a>. This documentation is mainly written for teams that are building their own API integration with GOV.UK Pay. You only need to do this if you want to automate your reporting and refunds process.</p>
        <p>The Blue Badge service has been designed to be as self-serve as possible. You can <a href="/getstarted">sign up for a test account</a> and try it for yourself.</p>
        <p>You can also <a href="/support">contact the GOV.UK Pay team</a> if you have any questions or feedback.</p>
    </div>
</div>
