---
title: Cookies - GOV.UK Pay
---

<nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Cookies</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 id="heading-1">Cookies</h1>
      <p class="summary">
        GOV.UK Pay puts small files (known as ‘cookies’)
        on to your computer.
      </p>
      <p>Cookies are used to:</p>
      <ul class="list list-bullet">
        <li>remember you once you've signed in</li>
        <li>remember the notifications you've seen so we don't show them again</li>
        <li>measure how you use the website so it can be updated and improved based on your needs</li>
      </ul>

      <p>You’ll normally see a message on the site before we store a cookie on your computer.</p>

      <p>Find out <a href="http://www.aboutcookies.org/" data-click-events data-click-category="Content" data-click-action="External link clicked">how to manage cookies</a>.</p>

      <h2 class="heading-medium">Session cookie</h2>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Purpose</th>
            <th>Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th width="33%">session</th>
            <td>Remembers if you’ve signed in recently</td>
            <td width="16%">3 month</td>
          </tr>
          <tr>
            <th width="33%">gateway_account</th>
            <td>Remembers the gateway account you last used, if you've signed in before</td>
            <td width="16%">1 month</td>
          </tr>
          <tr>
            <th width="33%">register_invite</th>
            <td>Remembers your registration progress if you’ve been invited</td>
            <td width="16%">1 hour</td>
          </tr>
        </tbody>
      </table>

      <h2 class="heading-medium">Our introductory message</h2>
      <p>You may see a pop-up welcome message when you first visit GOV.UK&nbsp;Pay. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.</p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Purpose</th>
            <th>Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th width="33%">seen_cookie_message</th>
            <td>Saves a message to let us know that you have seen our cookie message</td>
            <td width="16%">1 month</td>
          </tr>
        </tbody>
      </table>

      <h2 class="heading-medium">Universal analytics</h2>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Purpose</th>
            <th>Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th width="33%">_ga</th>
            <td>This helps us count how many people visit GOV.UK Pay by tracking if you’ve visited before</td>
            <td width="16%">2 years</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
