---
title: Direct Debit
---

<div class="govuk-width-container">
  <%= partial 'partials/breadcrumb.html.erb' %>

  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Direct Debit on GOV.UK&nbsp;Pay</h1>
        <p class="govuk-body">Our Direct Debit private beta is currently paused, but we’re exploring options for another round.</p>
        <p class="govuk-body">
          Contact
          <%=
            mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk',
                    'govuk-pay-support@digital.cabinet-office.gov.uk',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'Email link clicked',
                    :class => 'govuk-link'
          %>
          with questions about Direct Debit or if you’re interested in taking Direct Debit payments on GOV.UK&nbsp;Pay.
        </p>
      </div>
    </div>
  </main>
</div>
