---
title: Direct Debit on GOV.UK Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
        <h1 class="heading-large">Direct Debit on GOV.UK Pay</h1>
        <p>You can set up and take Direct Debit payments using GOV.UK Pay.</p>
        <p>If you’d like to set this up, contact <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> to be one of our Direct Debit pilot partners.</p>

        <h2 class="heading-medium">How Direct Debit works</h2>
        <p>We’ve made the process as simple as possible, so:</p>
        <ul class="list list-bullet">
          <li>the user goes online to set up a Direct Debit with you</li>
          <li>GOV.UK Pay sets up the Direct Debit automatically with the Direct Debit supplier</li>
          <li>all payments are handled by GOV.UK Pay with no manual involvement required</li>
          <li>GOV.UK Pay will send updates to your own system, for instance about mandates confirmed/cancelled or payments paid/failed etc</li>
        </ul>
        <p>GOV.UK Pay is fully compliant with the Direct Debit guarantee.</p>

        <h2 class="heading-medium">Benefits of Direct Debit on GOV.UK Pay</h2>
        <h3 class="heading-small">Easier to start taking Direct Debits</h3>

        <p>Getting started is easy:</p>
        <ul class="list list-bullet">
          <li>we have procured GoCardless as our Direct Debit supplier, which means you don’t need your own contract with a supplier</li>
          <li>you’ll have minimal additional integration if using GOV.UK Pay</li>
          <li>you‘ll have a centrally negotiated rate</li>
          <li>you’ll go live within 48 hours</li>
        </ul>

        <h3 class="heading-small">Get your money faster</h3>
        <p>You can set up to take payment more quickly:</p>
        <ul class="list list-bullet">
          <li>take the first payment in 3 days instead of 10</li>
          <li>2 working days notification for subsequent payments instead of 10 to 14 days</li>
        </ul>

        <h3 class="heading-small">Reduce costs and failure rates</h3>
        <p>Direct Debit on GOV.UK Pay provides:</p>
        <ul class="list list-bullet">
          <li>a simpler pricing model which means you only pay for successful transactions and your monthly Service User Number (SUN) cost</li>
          <li>free set up for mandates</li>
          <li>99.5% of Direct Debit payments are processed successfully</li>
          <li>real time information, as soon as a payment happens your own system will be notified</li>
          <li>reduced workload for staff because of greater automation</li>
        </ul>

        <h3 class="heading-small">Managed and automated processes</h3>
        <p>Direct Debits on GOV.UK Pay is largely automated, including:</p>
        <ul class="list list-bullet">
          <li>one system to manage all payments, whether by Direct Debit or card</li>
          <li>the set up of mandates</li>
          <li>retrying failed mandates </li>
          <li>retrying of failed Direct Debit payments (up to 3 attempts)</li>
          <li>all mandatory notifications to users</li>
        </ul>

        <h2 class="heading-medium">How to use Direct Debit</h2>
        <p>You can use Direct Debit for 3 different types of payment:</p>
        <ul class="list list-bullet">
          <li>one off payments (useful if you want to keep transaction fees for individual payments low)</li>
          <li>on-demand payments - allow you to collect any amount at any time (useful for invoicing/ billing or when you’re taking different amounts each month)</li>
          <li>subscriptions (useful for regular payments)</li>
        </ul>

        <h2 class="heading-medium">Get started with Direct Debit</h2>
        <p>Contact <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> with questions about Direct Debit or how to start taking Direct Debit payments on GOV.UK Pay.</p>
    </div>
  </div>
</div>
