---
title: Direct Debit
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Direct Debit on GOV.UK&nbsp;Pay</h1>
        <p class="govuk-body">You can now <%= link_to 'take recurring payments', 'recurring-payments', class: 'govuk-link' %> on GOV.UK Pay.</p>
        <p class="govuk-body">GOV.UK Pay will not be implementing Direct Debit in the near future.</p>
      </div>
    </div>
  </main>
</div>
