---
title: Features - GOV.UK Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Features and roadmap</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/features" itemprop="item"><span itemprop="name">Features</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
        </ol>
      </nav>
    </div>

      <div class="column-two-thirds">
        <h1 class="heading-large">Features</h1>
        <p>You can use GOV.UK Pay to take online card and Direct Debit payments.</p>
        <p><a href="https://selfservice.payments.service.gov.uk/login" data-click-events data-click-category="Content" data-click-action="External link clicked">Create an account for free and try it yourself.</a></p>
        <h2 class="heading-small">Card payments and payment links</h2>
        <p>You can set up payment pages that look like your digital service to take credit and debit card payments.</p>
        <p>If you do not have a digital service, or you do not want to use our API, you can use payment links instead.</p> 
        <p>Payment links are pages on GOV.UK. They’re easy to set up and you can customise them with a friendly URL. Payment links are useful if you usually ask for payments by sending letters or emails.</p>
        <p><a href="/self-service-payments" data-click-events data-click-category="Content" data-click-action="Internal link clicked">Find out more about payment links.</a></p>

        <h2 class="heading-small">Let users pay by Direct Debit</h2>
        <p>Set up Direct Debit mandates for regular, one-off or variable payments. GOV.UK Pay will verify users’ bank account details for you.</p>

        <h2 class="heading-small">Free to use</h2>
        <p>There are no costs for using GOV.UK Pay, but <abbr title="payment service providers">PSPs</abbr> will charge a transaction fee for payments.</p>

        <h2 class="heading-small">Take payments securely</h2>
        <p>GOV.UK Pay complies with the Payment Card Industry Data Security Standard (PCI-DSS). We use established Payment Service Providers (<abbr title="payment service providers">PSPs</abbr>) to process payments.</p>
        <p>You can also choose to use 3D Secure authentication, such as Verified by Visa, to help prevent fraud.</p>

        <h2 class="heading-small">Choose your Payment Service Provider</h2>   
        <p>GOV.UK Pay uses the following <abbr title="payment service providers">PSPs</abbr>:</p>
        <ul class="list list-bullet">
          <li>Worldpay Corporate Gateway</li>
          <li>Barclays ePDQ</li>
          <li>Barclays Smartpay/Adyen</li>
        </ul>

        <p>You can use an existing contract, set up a new one, or switch <abbr title="payment service providers">PSPs</abbr> without additional technical work.</p>

        <h2 class="heading-small">Manage payments and reports</h2>  
        <p>GOV.UK Pay allows you to:</p>
        <ul class="list list-bullet">
          <li>check the status of transactions</li>
          <li>download transaction reports</li>
          <li>give full or partial refunds</li>
        </ul>

        <p>You can also integrate your current income management systems with our <a href="https://docs.payments.service.gov.uk/api_reference/#api-reference" data-click-events data-click-category="Content" data-click-action="External link clicked">API</a>.</p>

        <h2 class="heading-small">Send emails to users</h2>  
        <p>GOV.UK Pay can send emails to your users. For example, to confirm:</p>
        <ul class="list list-bullet">
          <li>payments</li>
          <li>refunds</li>
          <li>Direct Debit mandates</li>
        </ul>

        <p>Emails are sent using <a href="https://www.notifications.service.gov.uk/" data-click-events data-click-category="Content" data-click-action="External link clicked">GOV.UK Notify</a>.</p>

        <h2 class="heading-small">Manage your team</h2>
        <p>Control what your team members can see and do. For example, you can:</p>
        <ul class="list list-bullet">
          <li>change permission levels for each team member</li>
          <li>invite new team members - including people without a government  email address</li>
          <li>remove users that have left your team</li>
        </ul>

        <h2 class="heading-small">Customise your branding</h2>
        <p>Add your organisation’s branding to payment pages and emails instead of using the GOV.UK Pay logo.</p>

        <h2 class="heading-small">Welsh translations</h2>
        <p><a href="https://docs.payments.service.gov.uk/api_reference/#api-reference" data-click-events data-click-category="Content" data-click-action="External link clicked">Use the GOV.UK Pay API</a> to display Welsh translations of your payment pages.</p>

        <h2 class="heading-small">Use our API</h2>
        <p>You can use our modern RESTful API for straightforward integration.</p> 
        <p><a href="https://docs.payments.service.gov.uk/api_reference/#api-reference" data-click-events data-click-category="Content" data-click-action="External link clicked">Find out more about how to integrate with GOV.UK Pay.</a></p>

        <h2 class="heading-small">Technical support</h2>
        <p>GOV.UK Pay provides technical support from 9.30am to 5.30pm Monday to Friday. We also provide out-of-hours support for critical incidents.</p>

        <h2 class="heading-medium">Queries and suggestions</h2>
        <p>If you want to find out more about these features, or have some needs that GOV.UK Pay isn’t yet meeting, please get in touch with us by emailing <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> or chat with us in our <a href="https://ukgovernmentdigital.slack.com/messages/govuk-pay" data-click-events data-click-category="Content" data-click-action="External link clicked">cross-government Slack channel</a>.</p>
    </div>
  </div>
</div>
