---
title: Features - GOV.UK Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Features and roadmap</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/features" itemprop="item"><span itemprop="name">Features</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
        </ol>
      </nav>
    </div>

      <div class="column-two-thirds">
              <h1 class="heading-large">Top features</h1>
                  <p>GOV.UK Pay uses established Payment Service Providers to deliver your payments service.</p>

                  <p>At no additional cost, we already offer:</p>
                  <h2 class="heading-small">Payment management</h2>
                      <ul class="list list-bullet">
                          <li>take online card payments</li>
                          <li>prevent fraud with 3DSecure (e.g. Verified by Visa)</li>                      
                          <li>issue refunds </li>
                          <li>send email receipts</li>
                          <li>create reports and search transactions</li>
                          <li>integrate with existing case management workflows</li>
                          <li>a trusted GOV.UK-branded experience</li>
                          <li>manage access and permissions of your staff users</li>
                          <li>manage which card brands you want to accept: Visa (including Visa Electron), Mastercard, Maestro, American Express, JCB, Discover, Diners Club, UnionPay</li>
                      </ul>
        
                  <h2 class="heading-small">Set up payment pages</h2>
                      <ul class="list list-bullet">
                          <li><a href="https://www.payments.service.gov.uk/self-service-payments/" data-click-events data-click-category="Content" data-click-action="External link clicked">create payment pages on GOV.UK</a> with no technical development required</li>
                          <li>create user friendly URLs for your payment pages</li>                      
                      </ul>

                  <h2 class="heading-small">Digital standards</h2>
                      <ul class="list list-bullet">
                          <li>meet the Digital Service Standard</li>
                          <li>meet accessibility standards</li>
                          <li>stay secure with full Payment Card Industry Data Security Standard compliance</li>
                          <li>use our modern RESTful API for straightforward integration</li>
                      </ul>

                  <h2 class="heading-small">Technical support</h2>
                      <ul class="list list-bullet">
                          <li>get 24/7 support from the team at Government Digital Service</li>
                          <li>read clear documentation on how to integrate with GOV.UK&nbsp;Pay</li>
                          <li>use a sandbox (test) environment to prototype and try with your service</li>
                          <li>switch PSPs without additional technical work (technical integration is provider-agnostic)</li>
                      </ul>
                  <h2 class="heading-medium">Queries and suggestions</h2>
                  <p>If you want to find out more about these features, or have some needs that GOV.UK Pay isn’t yet meeting, please get in touch with us by emailing <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> or chat with us in our <a href="https://ukgovernmentdigital.slack.com/messages/govuk-pay" data-click-events data-click-category="Content" data-click-action="External link clicked">cross-government Slack channel</a>.</p>
          </div>
  </div>
</div>
