---
title: Get started
---

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page">Get started</a>
        </li>
    </ol>
  </div>
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Get started
        </h1>

        <ol class="task-list">
            <h2 class="task-list-section">
              <span class="task-list-section-number">1.</span> Check GOV.UK Pay is right for you
            </h2>
            <div class="task-list-items">
              <p class="govuk-body">GOV.UK&nbsp;Pay is available for any government or public sector organisation that wants to take card payments online.</p>
              <p class="govuk-body">Review GOV.UK Pay’s <a class="govuk-link"  href="/using-govuk-pay" data-click-events data-click-category="Content" data-click-action="Internal link clicked">top features and roadmap</a> and decide if it meets your service’s needs.</p>
            </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">2.</span> Create an account
          </h2>
          <div class="task-list-items">
            <p class="govuk-body">Test GOV.UK Pay for yourself by <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/create-service/register" data-click-events data-click-category="Content" data-click-action="Internal link clicked">creating an account</a>.</p>
            <p class="govuk-body">Explore the test environment and <a class="govuk-link" href="https://docs.payments.service.gov.uk/testing_govuk_pay/#testing-your-integration" data-click-events data-click-category="Content" data-click-action="Internal link clicked">connect your service to GOV.UK Pay</a> to see how it’ll work for your users.</p>
            <p class="govuk-body">It’s easy to use and, if you decide to go live, you can use the same account details.</p>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">3.</span> Share with your team
          </h2>
          <div class="task-list-items">
              <p class="govuk-body">Share information about GOV.UK&nbsp;Pay with your broader team. Managing payments usually involves people from a number of different teams: digital, operational delivery and finance, for example.</p>

              <p class="govuk-body"> You can <a class="govuk-link"  href="https://selfservice.payments.service.gov.uk/my-services" data-click-events data-click-category="Content" data-click-action="Internal link clicked">invite team members</a> from the My Services area of your GOV.UK&nbsp;Pay admin tool. You may want to send our <a class="govuk-link"  href="https://docs.payments.service.gov.uk" data-click-events data-click-category="Content" data-click-action="Internal link clicked">documentation</a> to your technical and finance teams.</p>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">4.</span> Integrate your service with GOV.UK&nbsp;Pay
          </h2>
          <div class="task-list-items">
              <p class="govuk-body">Your technical team can find information about integrating and API references in our <a class="govuk-link"  href="https://docs.payments.service.gov.uk" data-click-events data-click-category="Content" data-click-action="Internal link clicked">documentation</a>.</p>

              <div class="panel panel-border-wide">
                <h3 class="govuk-heading-s">How long does it take to integrate?</h3>
                <p class="govuk-body">The time taken to integrate will vary depending on team and capability; for example, it took a single developer five days to integrate a Home Office service with GOV.UK Pay.</p>
              </div>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">5.</span> Agree to GOV.UK Pay’s agreements
          </h2>
          <div class="task-list-items">
              <p class="govuk-body">Your organisation needs to agree to GOV.UK Pay’s Memorandum of Understanding (for Crown bodies) or Contract (for non-Crown bodies). They include our Terms of Use.</p>
              <p class="govuk-body">When you sign in to your GOV.UK Pay account, you’ll find a link to the agreements in the page footer. You’ll need to accept the terms before you can take payments.</p>
              <p class="govuk-body">Contact GOV.UK Pay on <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> with any queries.</p>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">6.</span> Payment Service Providers (PSP)
          </h2>
          <div class="task-list-items">
              <p class="govuk-body">You’ll need to have a contract with a Payment Service Provider (PSP), who will process the payments taken using GOV.UK Pay. There are 3 ways to get a PSP.</p>
              <h3 class="govuk-heading-s">1. Use GOV.UK Pay's Payment Service Provider, Stripe.</h3>
              <p class="govuk-body">This means:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>you don’t have to procure your own PSP, saving you time and money</li>
                  <li>account set up is quick and easy</li>
                  <li>you can start taking payments immediately</li>
                  <li>you’re not locked into a long-term contract with a PSP</li>
              </ul>
              <h3 class="govuk-heading-s">2. Sign up with the Government Banking Service.</h3>
              <p class="govuk-body">You can also avoid any procurement work by signing up with the Government Banking Service. The Government Banking Service have an existing contract that’s open to central government and health sector organisations.</p>
              <p class="govuk-body">Contact the Government Banking helpdesk at <a class="govuk-link" href="mailto:serviceteam.gbs@hmrc.gov.uk" data-click-events data-click-category="Content" data-click-action="GBS Email link clicked">serviceteam.gbs@hmrc.gov.uk</a> for more information.</p>
              <p class="govuk-body">Account set up for the Government Banking Service contract takes 4 to 6 weeks.</p>
              <h3 class="govuk-heading-s">3. You can also use GOV.UK Pay if you already have a contract with:</h3>
              <ul class="govuk-list govuk-list--bullet">
                  <li>Worldpay Corporate Gateway</li>
                  <li>Barclays ePDQ</li>
                  <li>Barclays Smartpay/Adyen</li>
              </ul>
              <p class="govuk-body">Account set up for PSPs takes 4 to 6 weeks. Procuring your own PSP can take between 2 to 6 months. Contact the Crown Commercial Service at  <a class="govuk-link" href="mailto:info@crowncommercial.gov.uk" data-click-events data-click-category="Content" data-click-action="GBS Email link clicked">info@crowncommercial.gov.uk</a> if you need any procurement advice.</p>
              <p class="govuk-body">Once you have a PSP, you need to <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/#switching-to-live" data-click-events data-click-category="Content" data-click-action="External link clicked">configure your account</a>. There’s advice about how to do this in our documentation.</p>
              <p class="govuk-body"><a class="govuk-link" href="/support" data-click-events data-click-category="Content" data-click-action="Internal link clicked">Contact GOV.UK Pay</a> support with any questions.</p>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">7.</span> Set up GOV.UK Pay and go live
          </h2>
          <div class="task-list-items">
              <p class="govuk-body">When you’re ready to go live, sign in to your account and follow the <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/before_you_switch_to_live/#before-you-switch-to-live" data-click-events data-click-category="Content" data-click-action="Internal link clicked">go live steps</a>.</p>
              <p class="govuk-body">As part of this process you’ll need to agree to the terms and conditions of our MoU (for Crown organisations) or contract (for non-Crown organisations) and provide some information about your organisation. You can find a link to the agreements in the page footer when you are signed into your account.</p>
              <p class="govuk-body">If you are using GOV.UK Pay’s PSP, Stripe, you will need to add details about your account, including your nominated responsible person.</p>
              <p class="govuk-body">You can also update your settings for things like accepted card types in the <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/" data-click-events data-click-category="Content" data-click-action="Internal link clicked">GOV.UK Pay admin tool</a> before you take payments.</p>
          </div>
        </ol>

        <h2 class="govuk-heading-m">
            Get in touch
        </h2>

        <p class="govuk-body">If you have any questions, or need any support, contact GOV.UK Pay on <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> with any queries.</p>
      </div>
    </div>
  </main>
</div>
