---
title: Get started
---

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page">Get started</a>
        </li>
    </ol>
  </div>
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Get started
        </h1>

        <ol class="task-list">
          <li class="task-list__item">
            <h2 class="task-list__heading">
              <span class="task-list-section-number">1.</span> Check GOV.UK Pay is right for you
            </h2>
            <div class="task-list__details">
              <p class="govuk-body">GOV.UK&nbsp;Pay is available for any government or public sector organisation that wants to take card payments online.</p>
              <p class="govuk-body">Review GOV.UK Pay’s <a class="govuk-link"  href="/using-govuk-pay" data-click-events data-click-category="Content" data-click-action="Internal link clicked">top features and roadmap</a> and decide if it meets your service’s needs.</p>
              <p class="govuk-body">If you'd like to find out more about GOV.UK Pay, we hold sessions from 10am to 11am every Tuesday to demonstrate the platform and answer questions. You can <a class="govuk-link"  href="https://us02web.zoom.us/j/83217216563" data-click-events data-click-category="Content" data-click-action="Internal link clicked">join using this zoom link</a>. Please include your organisation in your screen name.</p>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading">
                <span class="task-list-section-number">2.</span> Create an account
            </h2>
            <div class="task-list__details">
              <p class="govuk-body">Test GOV.UK Pay for yourself by <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/create-service/register" data-click-events data-click-category="Content" data-click-action="Internal link clicked">creating an account</a>.</p>
              <p class="govuk-body">Explore the test environment and <a class="govuk-link" href="https://docs.payments.service.gov.uk/testing_govuk_pay/#testing-your-integration" data-click-events data-click-category="Content" data-click-action="Internal link clicked">connect your service to GOV.UK Pay</a> to see how it’ll work for your users.</p>
              <p class="govuk-body">It’s easy to use and, if you decide to go live, you can use the same account details.</p>
            </div>
          </li>
          <li class="task-list__item"> 
            <h2 class="task-list__heading">
                <span class="task-list-section-number">3.</span> Share with your team
            </h2>
            <div class="task-list__details">
                <p class="govuk-body">Share information about GOV.UK&nbsp;Pay with your broader team. Managing payments usually involves people from a number of different teams: digital, operational delivery and finance, for example.</p>

                <p class="govuk-body"> You can <a class="govuk-link"  href="https://selfservice.payments.service.gov.uk/my-services" data-click-events data-click-category="Content" data-click-action="Internal link clicked">invite team members</a> from the My Services area of your GOV.UK&nbsp;Pay admin tool. You may want to send our <a class="govuk-link"  href="https://docs.payments.service.gov.uk" data-click-events data-click-category="Content" data-click-action="Internal link clicked">documentation</a> to your technical and finance teams.</p>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading">
                <span class="task-list-section-number">4.</span> Integrate your service with GOV.UK&nbsp;Pay
            </h2>
            <div class="task-list__details">
                <p class="govuk-body">Your technical team can find information about integrating and API references in our <a class="govuk-link"  href="https://docs.payments.service.gov.uk" data-click-events data-click-category="Content" data-click-action="Internal link clicked">documentation</a>.</p>

                <div class="panel panel-border-wide">
                  <h3 class="govuk-heading-s">How long does it take to integrate?</h3>
                  <p class="govuk-body">The time taken to integrate will vary depending on team and capability; for example, it took a single developer five days to integrate a Home Office service with GOV.UK Pay.</p>
                </div>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading">
                <span class="task-list-section-number">5.</span> Payment Service Providers (PSP)
            </h2>
            <div class="task-list__details">
              <p class="govuk-body">You must have a Payment Service Provider (PSP) to process the payments taken using GOV.UK Pay. However, there is no procurement work required to obtain a PSP. This saves you time and money and you’re not locked into a long-term contract.</p>
              <p class="govuk-body">There are 2 PSP options available:</p>

              <ol class="psp-list">
                <li>
                  <h3 class="govuk-heading-s">1. Use GOV.UK Pay's Payment Service Provider, Stripe</h3>
                  <p class="govuk-body">Stripe is available to any public sector organisation to use. Account set up is quick and easy and you can start taking payments immediately. <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/create-service/register">Create an account</a> to get started.</p>
                </li>
                <li>
                  <h3 class="govuk-heading-s">2. Use Government Banking’s Payment Service Provider, Worldpay</h3>
                  <p class="govuk-body">If you are a central government or health sector organisation, you can instead sign up to use the Government Banking contract. Account set up for the Government Banking contract takes 4 to 6 weeks. <a class="govuk-link" href="mailto:serviceteam.gbs@hmrc.gov.uk" data-click-events data-click-category="Content" data-click-action="GBS Email link clicked">Contact the Government Banking helpdesk</a> for more information.</p>
                </li>
              </ol>

              <p class="govuk-body"><a class="govuk-link" href="/support" data-click-events data-click-category="Content" data-click-action="Internal link clicked">Contact GOV.UK Pay support</a> with any questions.</p>
            </div>
          </li>
          <li class="task-list__item">
            <h2 class="task-list__heading">
                <span class="task-list-section-number">6.</span> Agree to GOV.UK Pay’s agreements and go live
            </h2>
            <div class="task-list__details">
                <p class="govuk-body">When you’re ready to go live, sign in to your account and follow the <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/before_you_switch_to_live/#before-you-switch-to-live" data-click-events data-click-category="Content" data-click-action="Internal link clicked">go live steps</a>.</p>
                <p class="govuk-body">As part of this process your organisation needs to agree to the terms and conditions of our Memorandum of Understanding (for Crown organisations) or contract (for non-Crown organisations) and provide some information about your organisation. You can find a link to the agreements in the page footer when you are signed into your account. You’ll need to accept the terms before you can take payments.</p>
                <p class="govuk-body">If you are using GOV.UK Pay’s PSP Stripe, you will also need to accept the terms of the Stripe agreement.</p>
              <p class="govuk-body">When you are live, you need to configure your account with your PSP. There’s advice about how to do this in our <a class="govuk-link" href="https://docs.payments.service.gov.uk/switching_to_live/#2-connect-your-live-account-to-your-psp" data-click-events data-click-category="Content" data-click-action="Internal link clicked">documentation</a>. If you are using GOV.UK Pay’s PSP, Stripe, you will need to add details about your account, including your nominated responsible person.</p>
                <p class="govuk-body">You can also update your settings for things like accepted card types in the <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/" data-click-events data-click-category="Content" data-click-action="Internal link clicked">GOV.UK Pay admin tool</a> before you take payments.</p>
            </div>
          </li>
        </ol>

        <h2 class="govuk-heading-m">
            Get in touch
        </h2>

        <p class="govuk-body">If you have any questions, or need any support, contact GOV.UK Pay on <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> with any queries.</p>
      </div>
    </div>
  </main>
</div>
