---
title: Get started - GOV.UK Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Get started</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
      <div class="column-two-thirds column-minimum">
        <h1 class="heading-large">
          Get started
        </h1>

        <ol class="task-list">
            <h2 class="task-list-section">
              <span class="task-list-section-number">1.</span> Check GOV.UK Pay is right for you
            </h2>
            <div class="task-list-items">
              <p>GOV.UK&nbsp;Pay is available for any government or public sector organisation that wants to take card payments online.</p>
              <p>Review GOV.UK Pay’s <a href="/features" data-click-events data-click-category="Content" data-click-action="Internal link clicked">top features and roadmap</a> and decide if it meets your service’s needs.</p>
            </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">2.</span> Create an account
          </h2>
          <div class="task-list-items">
            <p>Test GOV.UK Pay for yourself by <a href="https://selfservice.payments.service.gov.uk/create-service/register" data-click-events data-click-category="Content" data-click-action="Internal link clicked">creating an account</a>. You can explore the test environment, and use the same account details when you’re ready to go live.</p>
              <p>You can also connect your service prototype with GOV.UK Pay to test how it works with your users.</p>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">3.</span> Share with your team
          </h2>
          <div class="task-list-items">
              <p>Share information about GOV.UK&nbsp;Pay with your broader team. Managing payments usually involves people from a number of different teams: digital, operational delivery and finance, for example.</p>

              <p> You can <a href="https://selfservice.payments.service.gov.uk/my-services" data-click-events data-click-category="Content" data-click-action="Internal link clicked">invite team members</a> from the My Services area of your GOV.UK&nbsp;Pay admin tool. You may want to send our <a href="https://docs.payments.service.gov.uk" data-click-events data-click-category="Content" data-click-action="Internal link clicked">documentation</a> to your technical and finance teams.</p>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">4.</span> Integrate your service with GOV.UK&nbsp;Pay
          </h2>
          <div class="task-list-items">
              <p>Your technical team can find information about integrating and API references in our <a href="https://docs.payments.service.gov.uk" data-click-events data-click-category="Content" data-click-action="Internal link clicked">documentation</a>.</p>

              <div class="panel panel-border-wide">
                <h3 class="heading-small">How long does it take to integrate?</h3>
                <p>The time taken to integrate will vary depending on team and capability; for example, it took a single developer five days to integrate a Home Office service with GOV.UK Pay.</p>
              </div>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">5.</span> Sign GOV.UK Pay’s agreements
          </h2>
          <div class="task-list-items">
            <p>Your organisation needs to sign GOV.UK Pay’s Memorandum of Understanding and your team needs to agree to our Terms of Use.</p>
            <p>Contact GOV.UK Pay on <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> to receive our agreements.</p>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">6.</span> Set up your Payment Service Provider
          </h2>
          <div class="task-list-items">
              <p>You will need to have a contract for Payment Gateway and Merchant Acquiring services with a Payment Service Provider, who will process the payments taken using GOV.UK Pay. We will support the suppliers listed on the relevant Crown Commercial Service framework: Barclays, Global Payments, Stripe, WorldPay.</p>
              <div class="panel panel-border-wide">
                  <p>If you don’t have one already, then avoid any procurement work by signing up with the Government Banking Service. They have an existing contract that’s open to central government and health sector organisations. Contact the Government Banking helpdesk at <a href="mailto:helpdesk.gbs@hmrc.gsi.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">helpdesk.gbs@hmrc.gsi.gov.uk</a> if you’d like to learn more and sign up.</p>
              </div>
              <p>When you have a Payment Service Provider, you need to make sure it is set up to work with GOV.UK Pay. We have instructions for <a href="https://docs.payments.service.gov.uk/#switching-to-production" data-click-events data-click-category="Content" data-click-action="Internal link clicked">configuring your account</a> in our documentation. </p>
              <p><a href="/support" data-click-events data-click-category="Content" data-click-action="Internal link clicked">Contact GOV.UK Pay</a> if you’d like more advice on contracting.</p>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">7.</span> Configure GOV.UK Pay for your service and go live
          </h2>
          <div class="task-list-items">
              <p>You can update your settings for things like accepted card types in the <a href="https://selfservice.payments.service.gov.uk/" data-click-events data-click-category="Content" data-click-action="Internal link clicked">GOV.UK Pay admin tool</a> before you begin taking payments.</p>
              <p>Contact GOV.UK Pay when you’re ready to go live, at <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a></p>
          </div>
        </ol>
      </div>
    </div>
</div>
