---
title: GOV.UK payment pages
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--sub sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">Take payments instantly</h1>

      <p>Use GOV.UK Pay to set up a payment page, which we call a payment link, to: </p>
      <ul class="list list-bullet">
        <li>take payments instantly</li>
        <li>use debit cards, credit cards or digital wallets to take payments</li>
        <li>give full or partial refunds</li>
        <li>switch Payment Service Providers, for free, when you choose</li>
        <li>use custom branding on your payment pages</li>
      </ul>
      <p>You don’t need any technical knowledge to do this.</p>
      <p><a href="https://selfservice.payments.service.gov.uk/create-service/register">Create an account</a> for free and try it yourself.</p>

      <h2 class="heading-medium">How to take payments</h2>
      <p>To get set up to take payments you need to create a payment link on GOV.UK. It takes 5 minutes to do.</p>
      <p>When users access your page they’ll be able to make an online card payment to you.</p>

      <img class="content-section__image" src="/pay-product-page/images/self-service-payments-flow.svg" alt="Example of the payment amount and confirmation pages of the payment link user journey.">

      <p>Your users will receive a payment reference number and a confirmation email. You can also customise your GOV.UK payment page with a friendly web address.</p>

      <h2 class="heading-medium">When to use a payment link</h2>
      <p>You don’t need to have a digital service to use payment links.</p>
      <p>You can add a payment link to paper forms, letters, websites or emails. In fact, wherever you’d like your users to see it.</p>

      <img class="content-section__image" src="/pay-product-page/images/self-service-payments-example.svg" alt="Examples of a payment link on a paper form or on an email.">

      <h2 class="heading-medium">Create a payment link</h2>
      <p>To get started you can:</p>
      <ul class="list list-bullet">
        <li>create a payment link in a <a href="https://selfservice.payments.service.gov.uk/create-service/register">test account</a> to see how it works </li>
        <li><a href="https://www.youtube.com/watch?v=hLIS2bzfYuM">watch our payment links video</a></li>
      </ul>
      <p>If you want to find out more about all that GOV.UK Pay offers, see our <a href="/using-govuk-pay">features page</a>.</p>
    </div>
  </div>
</div>
