---
title: GOV.UK payment pages
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit on GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Using Apple Pay and Google Pay</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">Take payments instantly</h1>

      <p>Payment links allow your service to receive online payments from your users. You don’t need to have a digital service to use payment links.</p>

      <p>You can add a payment link to paper forms, letters or emails - or wherever you’d like your users to see it.</p>

      <div class="responsive-embed responsive-embed--16by9">
        <div class="responsive-embed__wrapper">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hLIS2bzfYuM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      <h2 class="heading-medium">Benefits of using online payments</h2>

      <p>Online payments are 4 times more cost effective than offline methods, like cheques, money orders and cash payments.</p>
      <p>By using payment links your service can:</p>

      <ul class="list list-bullet"> 
        <li>speed up payment processes - you’ll be able to receive payments and issue refunds much quicker</li>
        <li>reduce human error and have fewer manual processes, like taking card payments over the phone</li>
        <li>receive fewer cheques, BACS and cash payments</li>
      </ul>

      <h2 class="heading-medium">Setting up a payment link</h2>
      <p>A payment link is quick and easy to set up and is ready to use right away. You don’t need any technical knowledge to create a payment link. You can create a payment link for a single user or make it reusable for all your users.</p>

      <img class="content-section__image" src="/pay-product-page/images/payment-link-demo.gif" alt="Example of creating a payment link and how the title is used to generate the payment link website address.">

      <p>Add the payment link where your users can see it, like in a paper form, letter or email - or even on your website.</p>

      <img class="content-section__image" src="/pay-product-page/images/self-service-payments-example.svg" alt="Examples of a payment link on a paper form or on an email.">

      <p>When your users access your payment link, they’ll be able to make an online card payment. Your users will receive a payment reference number and a confirmation email. You can use your own payment reference number or let us create one for you.</p>

      <img class="content-section__image" src="/pay-product-page/images/self-service-payments-flow.svg" alt="Example of the payment amount and confirmation pages of the payment link user journey.">

      <h2 class="heading-medium">Get started with payment links</h2>

      <p>Use our <a href="/getstarted">guide to getting started</a> to create an account. Or <a href="/support">contact the team</a> for more information.</p>
    </div>
  </div>
</div>
