---
description: Take and process online payments from your users - GOV.UK Pay is a free and secure online payment service for government and public sector organisations.
---

<div class="masthead">
    <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="#main" itemprop="item"><span itemprop="name">GOV.UK&nbsp;Pay</span></a>
            </li>
        </ol>
    </nav>

    <div class="hero hero--breaded">
        <div class="hero__content">
            <div class="hero__body">
                <h1 class="hero__title">Take online payments from your&nbsp;users</h1>
                <div class="hero__inline-image">
                    <img src="/pay-product-page/images/pay-top-image.png" alt="" role="presentation">
                </div>
                <p class="hero__description">
                  If you work in the public sector, use GOV.UK Pay to take&nbsp;payments
                </p>
                <a href="/getstarted" role="button" class="hero-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
                    Create a test account
                </a>
                <span class="hero-alternative-action">
                  or <a href="/using-govuk-pay" data-click-events data-click-category="Hero" data-click-action="Internal link clicked">find out what GOV.UK Pay offers</a>
                </span>
            </div>
            <div class="hero__aside-image">
                <img src="/pay-product-page/images/pay-top-image.png" alt="Payment screen on mobile and dashboard with refund function." role="presentation">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="content-section">
      <div class="grid-row">
          <div class="column-half">
            <h2 class="content-section__title heading-medium">Take payments instantly</h2>
               <p>Use GOV.UK Pay and be ready to take online payments in&nbsp;minutes.</p>
               <p>There are no monthly bills, setup or upgrade&nbsp;fees.</p>
          </div>
          <div class="column-half">
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_user-screen.svg" alt="A user-facing payment page with entry fields for card details and a payment summary. A helpful inline error message responds to user input." />
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="grid-row">
          <div class="column-half">
            <h2 class="content-section__title heading-medium">Manage your payments</h2>
            <p>Take payments, issue refunds and run reports on all your&nbsp;payments.</p>
          </div>
          <div class="column-half">
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_transaction-screen.svg" alt="Dashboard showing a list of transactions with search filters." />
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
        <h2 class="content-section__title heading-medium">Create a hosted payment page or integrate your existing&nbsp;service</h2>
      <div class="grid-row">
          <div class="column-half">
            <p>If you want to take online payments now and don’t have an online service, <a href="/govuk-payment-pages">create a GOV.UK payment page</a>.</p>
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_payment-link.svg" alt="A user-facing payment page with information about what the payment is about and a input box to input the price." />
          </div>
          <div class="column-half">
            <p>If you <a href="#FIX-ME">integrate your online service</a>, you’ll get greater control over your&nbsp;payments.</p>
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_api_json_example.svg" alt="An screenshot of an extract of JSON code that would be used in an API call to GOV.UK Pay" />
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="grid-row">
          <div class="column-half">
            <h2 class="content-section__title heading-medium">Security and relevant standards built&nbsp;in</h2>
            <p>GOV.UK Pay is robust, secure and fully Payment Card Industry (PCI) compliant.</p>
            <p>It meets all government accessibility standards.</p>
          </div>
          <div class="column-half">
            <img class="content-section__image" src="http://placekitten.com/600/400" alt="The online resource of GOV.UK&nbsp;Pay’s documentation." />
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="grid-row">
        <div class="column-half">
          <h2 class="content-section__title heading-medium">Used and trusted across government</h2>

          <p>Partners from right across the public sector are already using GOV.UK Pay, including the NHS, MOJ, police forces and local authorities.</p>
          <p>See all the <a href="https://www.gov.uk/performance/govuk-pay">services using GOV.UK Pay</a>.</p>
        </div>
        <div class="column-half partner-grid">
          <img class="content-section__image partner-logo" src="/pay-product-page/images/logos/home-office.png" alt="Home Office" />
          <img class="content-section__image partner-logo" src="/pay-product-page/images/logos/moj.png" alt="Ministry of Justice" />
          <img class="content-section__image partner-logo" src="/pay-product-page/images/logos/dit.png" alt="Department for International Trade" />
          <img class="content-section__image partner-logo" src="/pay-product-page/images/logos/fco.png" alt="Foreign and Commonwealth Office" />
          <img class="content-section__image partner-logo" src="/pay-product-page/images/logos/mod.png" alt="Ministry of Defence" />
          <img class="content-section__image partner-logo" src="/pay-product-page/images/logos/nhs.png" alt="NHS" />
        </div>
      </div>
    </div>
</div>
