<div class="masthead">
    <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="#main" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
            </li>
        </ol>
    </nav>

    <div class="hero hero--breaded">
        <div class="hero__content">
            <div class="hero__body">
                <h1 class="hero__title">Take and process payments</h1>
                <div class="hero__inline-image">
                    <img src="/pay-product-page/images/pay-top-image.png" alt="" role="presentation">
                </div>
                <p class="hero__description">
                  GOV.UK Pay is a secure payment service that is easy to integrate with and designed to meet the Digital Service Standard. Give your users a trusted GOV.UK-branded payment experience.
                </p>
                <a href="/getstarted.html" role="button" class="hero-button">
                    See how to get started
                </a>
            </div>
            <div class="hero__aside-image">
                <img src="/pay-product-page/images/pay-top-image.png" alt="" role="presentation">
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="grid-row content-section">
      <div class="column-one-half">
        <h2 class="content-section__title heading-medium">You can use GOV.UK Pay if you want to:</h2>
            <ul class="list list-bullet">
              <li>take online card payments and issue refunds</li>
              <li>ensure your payment experience meets the Digital Service Standard</li>
              <li>provide an end-to-end GOV.UK experience</li>
              <li>use payment processes that are fully PCI DSS compliant</li>
            </ul>

            <p><a href="/features.html">See GOV.UK Pay’s features and roadmap</a></p>
        </div>

        <div class="column-one-half">
          <div class="content-section__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DlohjTkvFoY" frameborder="0" allowfullscreen=""></iframe></div>
            <div class="content-section__transcript">
              <details>
                <summary class="font-xsmall"><span class="summary">Transcript of GOV.UK Pay</span></summary>
                <p class="font-xsmall">We want to make it easier for citizens to pay for government services. It’s painful enough that you have to pay for them at least the choice of payment types and then the, sort of, user experience while you go through the payment process should be as convenient as possible.</p>
                <p class="font-xsmall">And then there's the second part to it which is the part for civil servants or people that work in government where we want to make it easier for them to do all the things that are connected to receiving payments. They should just be as slick, easy and frankly as cheap as possible. Right now we basically have, if you look at central government, hundreds of direct integrations from government services straight into payment providers which makes it very hard to launch, change or to make changes across government. If you have a payments platform you plug all of them into the platform, make one change across the platform and then just switch them on across government.</p> <p class="font-xsmall">It will make it easier, more convenient for citizens to pay government, make it easier to launch new government services and it will make it easier to do the reconciliation and user support and refunds. And then we can launch new innovative stuff quite quickly and easily across government. So here we do it once, we do it right, we do it securely, we do it with a good user experience and at a low cost.</p>
              </details>
          </div>
        </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="grid-row">
          <div class="column-half">
            <h2 class="content-section__title heading-medium">Teams running services and managing payments will get:</h2>
              <ul class="list list-bullet">
                <li>an easy-to-use admin tool designed for efficient payment administration</li>
                <li>easy Payment Service Provider switching without additional technical work</li>
                <li>24/7 support from the multidisciplinary team at Government Digital Service</li>
              </ul>
          </div>
          <div class="column-half">
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_dashboard-screen.svg" alt="Dashboard showing net income, with successful, failed, and refunded payments.">
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-padding">
      <div class="grid-row">
          <div class="column-full">
            <h2 class="content-section__title heading-medium">You can generate reports and issue refunds</h2>
          </div>
          <div class="column-half">
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_transaction-screen.svg" alt="Dashboard showing a list of transactions with search filters." />
          </div>
          <div class="column-half">
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_refund-screens.svg" alt="Dashboard showing a list of transactions with search filters." />
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-padding">
      <div class="grid-row">
          <div class="column-half">
            <h2 class="content-section__title heading-medium">Users will see responsive payment pages</h2>
            <p>Designed to meet user needs, the payment pages give helpful inline error messages and work great on mobile.</p>
          </div>
          <div class="column-half">
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_user-screen.svg" alt="A user-facing payment page with entry fields for card details and a payment summary. A helpful inline error message responds to user input." />
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-padding">
      <div class="grid-row">
          <div class="column-half">
            <h2 class="content-section__title heading-medium">Teams building services will get:</h2>
            <ul class="list list-bullet">
              <li>clear documentation on how to integrate with GOV.UK Pay</li>
              <li>a modern RESTful API for payment initiation and administration</li>
              <li>a test environment to prototype and test with your servic</li>
            </ul>
            <p><a href="https://gds-payments.gelato.io/docs/versions/1.0.0">See how GOV.UK Pay works in our documentation</a></p>
          </div>
          <div class="column-half">
            <img class="content-section__image" src="/pay-product-page/images/product-page_images_docs-screen.png" alt="The online resource of GOV.UK Pay’s documentation." />
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="grid-row">
          <div class="column-half">
            <h2 class="content-section__title heading-medium">Find out more about GOV.UK Pay</h2>
            <p><a href="/support.html">Contact the team</a> to ask a question. Follow our <a href="/getstarted.html">Guide to getting started</a> to create an account.</p>
            <p>GOV.UK Pay is built and supported 24/7 by a full time team at the Government Digital Service. The service manager is Till Wirth. </p>
          </div>
          <div class="column-half">
            <img class="content-section__image" src="/pay-product-page/images/pay-team.jpg" alt="A photo of the GOV.UK Pay team at work." />
          </div>
      </div>
    </div>
    <div class="content-section content-section--with-top-border">
      <div class="grid-row">
          <div class="column-two-thirds">
            <h2 class="content-section__title heading-medium">GOV.UK Pay is already working with:</h2>
            <img class="content-section__image" src="/pay-product-page/images/org-logos-pay.jpg" alt="Logos of Ministry of Justice, Home Office, Business, Energy and Industrial Strategy" />
            <div class="panel panel-border-wide">
              <p class="">&ldquo;I’ve just had the first view of [GOV.UK Pay] integrated with our service. It is a really good product. We have integrated it in just 2 weeks which is astonishing and really speaks volumes about [how] well you have set the service up...&rdquo;</p>
              <p>– Service manager; UK Visas and Immigration, Home Office</p>
            </div>
            <p>GOV.UK Pay is not yet available to local authorities.</p>
          </div>
      </div>
    </div>
</div>
