---
title: GOV.UK Pay’s Payment Service Provider
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
        <h1 class="heading-large">GOV.UK Pay’s Payment Service Provider</h1>
        <p>GOV.UK Pay takes payment, but uses a Payment Service Provider (PSP) to process it. GOV.UK Pay has procured a PSP for you to use (Stripe). This means you don’t need a separate contract with a PSP to use GOV.UK Pay.</p>
        <p>If you already have your own PSP, GOV.UK Pay supports Worldpay Corporate Gateway, Barclays ePDQ (Smartpay I) and Barclays Smartpay/Adyen (Smartpay A).</p>
          
        <h2 class="heading-medium">Using our PSP</h2>
        <p>To get started, you simply need to accept GOV.UK Pay and our PSP’s terms and conditions.</p>
        <p>You’ll find a link to both contracts in the footer when you sign in to your GOV.UK Pay account.</p>

        <h2 class="heading-medium">Benefits of using our PSP</h2>
        <h3 class="heading-small">Speed</h3>
        <p>With our ready procured PSP, your account can be set up and ready to take payments in a day. With other PSPs this would normally take at least a month.</p>

        <h3 class="heading-small">Ease</h3>
        <p>Using our PSP means:</p>
        <ul class="list list-bullet">
          <li>we’ve done the procurement for you, saving you time and money</li>
          <li>account set up is simple and, once your services are live, the GOV.UK Pay team provide 24 hour support</li>
          <li>you’re not tied into long-term costly contracts, you can stop using GOV.UK Pay and our PSP at any time</li>
        </ul>

        <p>Our PSP is available for any public sector organisation to use.</p>

        <h3 class="heading-small">Cost</h3>
        <p>There are no overhead costs on the account. You don’t pay a management, set up or monthly fee. You just pay the transaction charges. Nothing more. </p>
        <p>Costs are commercially sensitive. Details are available in the contract when you sign in to your account. </p>

        <h2 class="heading-medium">Start taking payments immediately</h2>
        <p>Using our new PSP and payment links means you:</p>
        <ul class="list list-bullet">
          <li>don’t need to build a service</li>
          <li>can be ready to take payments in minutes</li>
          <li>can use the payment link wherever you need to take payment - so on an email, letter or paper form</li>
        </ul>
        <p>Follow our <a href="/govuk-payment-pages" data-click-events data-click-category="Content" data-click-action="Internal link clicked">guide to creating payment links</a>.</p>

        <h2 class="heading-medium">How we procured our PSP</h2>
        <p>The PSP we’ve procured is a direct award on a Crown Commercial Service framework.</p>
        <p>The framework follows all OJEU rules and processes. The contract was approved by the Cabinet Office’s Commercial Director.</p>
        <h2 class="heading-medium">What next</h2>
        <p>Take a look at our PSP’s contract in your test account or contact GOV.UK Pay support with any questions.</p>
    </div>
  </div>
</div>
