---
title: Performance data
---

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Performance data
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper govuk-!-margin-top-4" id="main-content">
    <div class="govuk-grid-row  govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Performance data</h1>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          Since September 2016
        </h2>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-heading-l govuk-!-margin-bottom-0">523</div>
        <div class="govuk-body">live services</div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-heading-l govuk-!-margin-bottom-0">14.8 million</div>
        <div class="govuk-body">total transactions processed</div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-heading-l govuk-!-margin-bottom-0">&#163; 910.0 million</div>
        <div class="govuk-body">total amount processed by Pay</div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-body-s">Last updated: 13 April 2021</div>
      </div>
    </div>

    <div class="product-page-!-border-bottom govuk-!-margin-bottom-8"></div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-visually-hidden">Sectors using pay</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Sector type</th>
              <th scope="col" class="govuk-table__header">Number of live services</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Central government, including devolved administrations, arms length
                bodies
                and executive agencies
              </td>
              <td class="govuk-table__cell">141</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Local government</td>
              <td class="govuk-table__cell">264</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Central NHS</td>
              <td class="govuk-table__cell">27</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">NHS Trust</td>
              <td class="govuk-table__cell">24</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Police</td>
              <td class="govuk-table__cell">38</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Organisations using GOV.UK Pay</h2>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-visually-hidden">There are</span>
        <div class="govuk-heading-l govuk-!-margin-bottom-0">208</div>
        <div class="govuk-body">organisations</div>
      </div>
      <div class="govuk-grid-column-one-half">
        <span class="govuk-visually-hidden">and</span>
        <div class="govuk-heading-l govuk-!-margin-bottom-0">523</div>
        <div class="govuk-body">services</div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-4">
          <caption class="govuk-visually-hidden">Live services per organisation</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Organisations</th>
              <th scope="col" class="govuk-table__header">Number of live services</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Aberdeenshire Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Adur & Worthing Councils
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Allerdale Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Antrim and Newtownabbey Borough Council
              </td>
              <td class="govuk-table__cell">8</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Ards and North Down Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Armagh City, Banbridge & Craigavon Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Army Winter Sports Association
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Barking Havering and Redbridge University Hospitals NHS Trust
              </td>
              <td class="govuk-table__cell">4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Barnsley Hospital NHS Foundation Trust
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Barnsley MBC
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Bath & North East Somerset Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Belfast City Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Birmingham City Council
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Blackpool Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Border Force
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British Consulate Malaga
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British Embassy
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British Embassy Addis Ababa
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British Embassy Asmara
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British Embassy Dakar
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British Embassy Harare
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British Embassy Luanda
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British Embassy Madrid
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Accra
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Banjul
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Dar Es Salaam
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Freetown
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Gaborone
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Kampala
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Lilongwe
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Lusaka
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Maputo
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Nairobi
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission Windhoek
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                British High Commission in Yaounde
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cabinet Office
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cadw Welsh Government
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cambridge University Hospitals NHS Foundation Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Canterbury City Council
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Care Inspectorate
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Causeway Coast and Glens Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Chelsea and Westminster Hospital NHS Foundation Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cheshire Constabulary
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cheshire Police
              </td>
              <td class="govuk-table__cell">4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Child Maintenance Group
              </td>
              <td class="govuk-table__cell">6</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                City Of York Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                City of London Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Civil Aviation Authority
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Clackmannanshire Council
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cleveland Police
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Companies House
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cornwall Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                County Hall
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Croydon Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Croydon Health Services NHS Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cumbria County Council
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                DAERA
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Dacorum Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Defence Academy of the UK
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Department for Digital Culture Media & Sport
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Department for Education
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Department for Infrastructure
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Department for International Trade
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Department for Work & Pensions
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Department of Agriculture, Environment and Rural Affairs
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Derry City and Strabane District Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Digital Shared Services
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Disclosure Scotland
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Disclosure and Barring Service
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Doncaster Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Dorset Council
              </td>
              <td class="govuk-table__cell">90</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Dorset County Hospital NHS FT
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Driving and Vehicle Licensing Agency (DVLA)
              </td>
              <td class="govuk-table__cell">4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Dudley Metropolitan Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                East Suffolk & North Essex NHS Foundation Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Environment Agency
              </td>
              <td class="govuk-table__cell">6</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Essex Police
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Evesham Town Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Fermanagh and Omagh District Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Food Standards Agency
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Foreign, Commonwealth and Development Office
              </td>
              <td class="govuk-table__cell">57</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Friends of Water Search and Rescue Team
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Gambling Commission
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Glasgow City Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Gloucestershire County Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Greater Manchester Police
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Guys and St Thomas Foundation NHS Trust
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Gwent Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                HM Courts & Tribunals Service
              </td>
              <td class="govuk-table__cell">4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                HM Land Registry
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Halton Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Hampshire Constabulary
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Harrow Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Healthcare Improvement Scotland
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Her Majesty's Passport Office
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Hertfordshire Constabulary
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Hertfordshire County Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Highlands and Islands Airports Ltd
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Home Office
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Huntingdonshire District Council
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Keighley Town Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Kent County Council
              </td>
              <td class="govuk-table__cell">9</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Kettering General Hospital NHS Foundation Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Knutsford Town Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Lancashire County Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Leeds City Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Lisburn & Castlereagh City Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Liverpool City Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                London Borough of Barking and Dagenham Council
              </td>
              <td class="govuk-table__cell">18</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                London Borough of Barnet
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                London Borough of Hackney
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                London Borough of Hounslow
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                London Borough of Lewisham
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                London Borough of Newham
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                London Borough of Redbridge
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                London Borough of Sutton
              </td>
              <td class="govuk-table__cell">4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Luton Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Lyme Regis Town Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Malvern Hills District Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Manchester City Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Marine and Fisheries Division for Welsh Government
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Maritime and Coastguard Agency
              </td>
              <td class="govuk-table__cell">5</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Marlow Town Council
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Medicines and Healthcare Products Regulatory Agency
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Metropolitan Police Service
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Mid and East Antrim Borough Council
              </td>
              <td class="govuk-table__cell">4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Middlesbrough Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Midlothian Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Ministry of Defence
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Ministry of Justice (HM Prison Service)
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                NHS Blood & Transplant
              </td>
              <td class="govuk-table__cell">11</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                NHS Business Services Authority
              </td>
              <td class="govuk-table__cell">13</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                National Institute for Biological Standards and Control
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                National Institute of Health and Care Excellence
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                National Museums NI
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Natural Resources Wales (NRW)
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Newry, Mourne and Down District Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                North East Ambulance Service NHS Foundation Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                North East Ambulance Service Unified Solutions Limited
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                North East Lincolnshire Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                North Norfolk District Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                North Somerset Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                North Wales Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                North Yorkshire Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Northern Ireland Carrier Bag Levy Team
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Northern Lincolnshire and Goole NHS FT
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Nottingham University Hospitals NHS Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Office for Standards in Education - OFSTED
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Office of the Public Guardian
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Orkney Islands Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Oxford Health NHS Foundation Trust
              </td>
              <td class="govuk-table__cell">4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                PCC For Merseyside
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Patchway Town Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Pay Companies House
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Plymouth City Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Police & Crime Commissioner for Warwickshire Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Police And Crime Commissioner For Gloucestershire
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Police Service of Northern Ireland
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Police and Crime Commissioner For Wiltshire
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Police and Crime Commissioner for Derbyshire
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Police and Crime Commissioner for Sussex
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Reading Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Redcar & Cleveland Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Royal Borough of Kingston upon Thames
              </td>
              <td class="govuk-table__cell">5</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Royal Cornwall Hospitals NHS Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Rugby Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Rushmoor Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Rutland County Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Scottish Environment Protection Agency
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Scottish Social Service Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Security Industry Authority
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Social Security Scotland
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Social Work England
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Somerset County Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Somerset West and Taunton Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                South Ayrshire Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                South Eastern Regional College
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                South Tees Hospitals NHS Foundation Trust
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                South Wales Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                South West Yorkshire Partnership NHS FT
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Staffordshire County Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Staffordshire Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Staffordshire Wing - RAF Air Cadets
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Stockport MBC
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Suffolk County Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Surrey County Council
              </td>
              <td class="govuk-table__cell">18</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Surrey Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Sussex Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Telford & Wrekin Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Thames Valley Police
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                The City of Edinburgh Council
              </td>
              <td class="govuk-table__cell">8</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                The Coal Authority
              </td>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                The National Archives
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                The Office of the Police and Crime Commissioner for Leicestershire
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                The Police & Crime Commissioner for Northamptonshire
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                The Police and Crime Commissioner for Dyfed Powys
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                The Police and Crime Commissioner for Kent
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                United Kingdom National Codification Bureau
              </td>
              <td class="govuk-table__cell">5</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Valuation Tribunal Service
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Walsall Metropolitan Borough Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Warwickshire County Council
              </td>
              <td class="govuk-table__cell">11</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Water Search and Rescue Team
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Welsh Government
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                West Mercia Police & Crime Commissioner
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                West Suffolk NHS
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Weymouth Town Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Wokingham Borough Council
              </td>
              <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Worcestershire County Council
              </td>
              <td class="govuk-table__cell">1</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>