---
title: Privacy notice
---

<nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Privacy notice</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-one-third sticky">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Link clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#who-we-are"><span itemprop="name">Who we are</span></a></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#why-we-need-your-data"><span itemprop="name">Why we need your data</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#what-data-we-need-from-payers"><span itemprop="name">What data we need from payers</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#what-data-we-need-from-staff-users"><span itemprop="name">What data we need from staff users</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#what-we-do-with-your-data"><span itemprop="name">What we do with your data</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#how-long-we-keep-your-data"><span itemprop="name">How long we keep your data</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#childrens-privacy-protection"><span itemprop="name">Children’s privacy protection</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#who-your-data-might-be-shared-with"><span itemprop="name">Who your data might be shared with</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#how-we-protect-your-data-and-keep-it-secure"><span itemprop="name">How we protect your data and keep it secure</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#changes-to-this-notice"><span itemprop="name">Changes to this notice</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#questions-and-complaints"><span itemprop="name">Questions and complaints</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large" id="heading-1">Privacy notice</h1>
      <p class="lede">Last updated: 21 February 2019</p>

      <h2 class="heading-medium" id="who-we-are">Who we are</h2>
      <p>GOV.UK Pay is a payments service that’s built and maintained by the Government Digital Service, part of the Cabinet Office (“GDS”, “we”, “us”, “our”). We and other public sector organisations use GOV.UK Pay to take payments online and process them efficiently. To do that, we collect, process and store certain data about you.</p>
      <p>This privacy notice explains:</p>
      <ul class="list list-bullet">
        <li>the kinds of data we collect and process in order to provide the payments service</li>
        <li>how that data is used</li>
        <li>how that data is protected </li>
        <li>how you can find out what rights you have in relation to your data</li>
      </ul>
      <p>The data controller for GDS is the Cabinet Office. The data controller determines the purposes and means of processing personal data.</p>

      <h2 class="heading-medium" id="why-we-need-your-data">Why we need your data</h2>
      <p>GOV.UK Pay is a service provided for the benefit of public sector organisations (“government organisations”). We collect and process data about you and connect the government organisations with the payment service providers (“PSPs”). The PSPs process their payments and pass on the relevant information. </p>
      <p>The government organisations that we partner with are the data controllers. They will also process your data for their own purposes which might not be set out here. If you’re an individual user making a payment to a government organisation (“payer”), or if you’re a staff member of that government organisation using GOV.UK Pay as part of your role (“staff user”), you should read this privacy notice. Where applicable, you should also read the privacy policies of the relevant government organisation to see how your data is processed and how to exercise your rights in respect of the processing of your personal data.</p>

      <h2 class="heading-medium" id="what-data-we-need-from-payers">What data we need from payers</h2>
      <p>On behalf of our partner government organisations we will collect different types of data from payers. </p>

      <h3 class="heading-small">Contact details</h3>
      <p>We will collect data that includes:</p>
      <ul class="list list-bullet">
        <li>names</li>
        <li>email addresses</li>
        <li>billing addresses</li>
      </ul>

      <h3 class="heading-small">Bank card information</h3>
      <p>We will collect data that includes:</p>
      <ul class="list list-bullet">
        <li>name on the relevant credit or debit card</li>
        <li>card type, like a debit or credit card</li>
        <li>card expiry date</li>
        <li>credit or debit card number - we will only keep the first six and last four digits for our records once the payment is made</li>
        <li>credit or debit card security code - this is not kept after the payment is processed</li>
      </ul>

      <h3 class="heading-small">Payment transaction details </h3>
      <p>We will collect data that includes:</p>
      <ul class="list list-bullet">
        <li>payment amounts and frequencies including dates</li>
        <li>payment statuses </li>
        <li>payment descriptions</li>
        <li>payment gateway transaction ID</li>
        <li>the reference number of the government organisation</li>
      </ul>

      <h3 class="heading-small">Device information</h3>
      <p>We will collect data that includes:</p>
      <ul class="list list-bullet">
        <li>usage data, like IP addresses and technical details of the payer’s connection </li>
        <li>equipment, like the phone or laptop used to make the payment</li>
      </ul>

      <h2 class="heading-medium" id="what-data-we-need-from-staff-users">What data we need from staff users</h2>
      <p>We also collect data about authorised staff users.</p>

      <h3 class="heading-small">Contact details</h3>
      <p>We will collect data that includes:</p>
      <ul class="list list-bullet">
        <li>names</li>
        <li>email addresses</li>
        <li>contact details</li>
        <li>photographic identifiaction to enable stripe integration </li>
      </ul>
      </ul>

      <h3 class="heading-small">Employment details</h3>
      <p>We will collect data that includes:</p>
      <ul class="list list-bullet">
        <li>details about the staff user’s role - for example, what rights a user has to view certain data </li>
      </ul>

      <h3 class="heading-small">Device information </h3>
      <p>We will collect data that includes:</p>
      <ul class="list list-bullet">
        <li>usage data, like IP addresses and technical details of the staff user’s connection</li>
        <li>equipment, like the phone or laptop used to manage the payment received by the relevant government organisation</li>
      </ul>

      <p>The legal basis for processing this data is to carry out our contract with the relevant government organisations.</p>

      <h2 class="heading-medium" id="what-we-do-with-your-data">What we do with your data</h2>
      <p>We will use your personal data for different purposes.</p>

      <h3 class="heading-small">GOV.UK Pay service and internal processing</h3>
      <p>To carry out our contract with the relevant government organisation we will need to process data. This will allow us to:</p>
      <ul class="list list-bullet">
        <li>ensure that the service operates as expected</li>
        <li>allow payers to make payments and authorised staff users to log in and administer payments</li>
        <li>respond to any queries raised by the government organisation or the PSP in respect of the service</li>
      </ul>

      <h3 class="heading-small">Analytics and statistics </h3>
      <p>As part of our contract with the relevant government organisation we will need to meet reporting obligations. </p>
      <p>We will review the service and see how we provide that service to the government organisations where required. For example, to provide statistical details of the total number of card transactions. </p>

      <h3 class="heading-small">Legal obligations</h3>
      <p>We may share your data or disclose information because of a law, regulation or court order and to protect our interests and legal rights. </p>
      <p>We will not:</p>
      <ul class="list list-bullet">
        <li>sell or rent your data to third parties</li>
        <li>share your data with third parties for marketing purposes</li>
      </ul>

      <h2 class="heading-medium" id="how-long-we-keep-your-data">How long we keep your data</h2>
      <p>We will only retain your personal data for as long as:</p>
      <ul class="list list-bullet">
        <li>it’s needed for the purposes set out in this document</li>
        <li>is required by law</li>
      </ul>
      <p>In general, this means that we will only hold your personal data for a minimum of 1 year and a maximum of 7 years.</p>

      <h2 class="heading-medium" id="childrens-privacy-protection">Children’s privacy protection</h2>
      <p>Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about anyone under the age of 13.</p>

      <h2 class="heading-medium" id="who-your-data-might-be-shared-with">Who your data might be shared with</h2>
      <p>There may be times when we need to share your data.</p>

      <h3 class="heading-small">PSPs </h3>
      <p>If you are a payer, your personal data will be provided to the relevant PSP that’s connected to the government organisation you are paying.</p>

      <h3 class="heading-small">Third party service providers </h3>
      <p>We will share your personal data with third parties if they need to know the information so that they can provide us, or the relevant government organisation, with a service. For example, a supplier of IT services like data storage or analytics. </p>

      <h3 class="heading-small">Legal and regulatory entities </h3>
      <p>We might have to share your personal data with law enforcement agencies or regulatory bodies if we have to comply with any legal obligation or court order. </p>
      <p>These other entities may be based in the UK or they might be located in other countries that are not in the European Economic Area (“EEA”). Different privacy laws apply across the world. We will only transfer your data to another country if we are sure that there is enough protection in place to make sure that your data is secure. </p>
      <p>Where personal data is transferred outside of the EEA to a country that is not considered to have ’adequate protection’, we will ensure that an appropriate data transfer agreement is in place. In the case of transfers to the United States of America we will ensure the company is certified by the EU-US Privacy Shield. You can contact us to ask to view the documentation that provides the safeguard for your data, although some confidential information may be removed. </p>
      <p>We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s processed and when it’s stored.</p>
      <p>Your personal data may, throughout the course of its processing at GDS, be transferred outside of the European Economic Area (EEA). Where this is the case all appropriate technical and legal safeguards will be put in place to ensure that you are afforded the same level of protection as within the EEA.</p>

      <h2 class="heading-medium" id="how-we-protect-your-data-and-keep-it-secure">How we protect your data and keep it secure</h2>
      <p>We are committed to doing all that we can to keep your data secure. We set up systems and processes to prevent unauthorised access or disclosure of the data we collect about you – for example, we protect your data using varying levels of encryption. All third parties who process personal data for GDS are required to keep that data secure. From time to time we will test the system for security vulnerabilities.</p>

      <h3 class="heading-medium">What are your rights</h3>
      <p>You have the right to:</p>
      <ul class="list list-bullet">
        <li>information about how your personal data is processed</li>
        <li>a copy of that personal data</li>
        <li>that anything inaccurate in your personal data is corrected immediately</li>
      </ul>

      <p>You can also:</p>
      <ul class="list list-bullet">
        <li>raise an objection about how your personal data is processed</li>
        <li>request that your personal data is erased if there is no longer a justification for it</li>
        <li>ask that the processing of your personal data is restricted in certain circumstances</li>
      </ul>

      <p>If you have any of these requests, get in contact with our Data Protection Officer - the contact details are at the bottom of the page.</p>

      <h2 class="heading-medium" id="changes-to-this-notice">Changes to this notice</h2>
      <p>We may change this privacy notice. In that case the ‘last updated’ date at the top of this page will also change. Any changes to this privacy notice will apply to you and your data immediately. If these changes affect how your personal data is processed, GDS will take reasonable steps to make sure you know.</p>

      <h2 class="heading-medium" id="questions-and-complaints">Questions and complaints</h2>
      <p>The data controller for your personal data is the Cabinet Office.</p>
      <p>Contact the Data Protection Officer if you either:</p>
      <ul class="list list-bullet">
        <li>have any questions about anything in this document</li>
        <li>think that your personal data has been misused or mishandled</li>
      </ul>

      <p>Data Protection Officer<br/>
        <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a><br/>
        Cabinet Office<br/>
        70 Whitehall<br/>
        London SW1A 2AS</p>

      <p>If you have a complaint, you can also contact the <a href="https://ico.org.uk/">Information Commissioner</a>, who is an independent regulator set up to uphold information rights.</p>

      <p>Information Commissioner’s Office<br/>
        <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br/>
        0303 123 1113<br/>
        Wycliffe House<br/>
        Water Lane<br/>
        Wilmslow<br/>
        Cheshire SK9 5AF</p>
    </div>
  </div>
</div>
