---
title: Recurring payments
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Recurring payments</h1>
        <p class="govuk-body">
          Using GOV.UK&nbsp;Pay, you can take recurring payments from a user. The user consents to making recurring payments, enters into an ‘agreement’ with your service, and
          provides their payment details. The agreement allows you to take further payments without the user interacting with your service again.
        </p>

        <p class="govuk-body">
          Your service has
          <%= link_to 'more responsibilities', 'https://docs.payments.service.gov.uk/recurring_payments/#1-understand-what-your-service-is-responsible-for', class: 'govuk-link' %>
          when taking recurring payments. You’re responsible for:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>managing the relationship between your service and users</li>
          <li>providing terms and conditions to users</li>
          <li>authenticating users</li>
          <li>getting and recording users’ consent for you to take recurring payments</li>
          <li>managing payment schedules</li>
          <li>telling users when you’re going to take or change payments</li>
          <li>letting users amend their recurring payments</li>
        </ul>
      </div>
    </div>
  </main>
</div>
