---
title: Required Responsible person and director information
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Required Responsible person and director information</h1>

        <p class="govuk-body">
          The Financial Conduct Authority (FCA) requires Stripe (GOV.UK&nbsp;Pay's payment service provider) to carry out anti-money laundering checks. These are part of the Know
          Your Customer (KYC) regulations.
        </p>

        <p class="govuk-body">
          To comply with the regulations, you'll need to add personal information about specific individuals in your organisation. Stripe will store this information, not
          GOV.UK&nbsp;Pay.
        </p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>Despite the personal information required, liability remains at an organisational level, not individual.
          </strong>
        </div>

        <h2 class="govuk-heading-m">Responsible person</h2>

        <p class="govuk-body">Your Responsible person can be someone:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>authorised to sign contracts for your organisation</li>
          <li>senior enough to have access to customer files and records</li>
          <li>able to independently decide whether to report suspicious activities or transactions</li>
        </ul>

        <p class="govuk-body">Examples of appropriate roles include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Head of Finance</li>
          <li>Finance Director</li>
          <li>Service Director</li>
        </ul>

        <p class="govuk-body">An external consultant cannot be your Responsible person.</p>

        <p class="govuk-body">Stripe requires a Responsible person's:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>first name and surname</li>
          <li>date of birth</li>
          <li>home address</li>
          <li>work telephone number</li>
          <li>work email address</li>
        </ul>

        <p class="govuk-body">Stripe will complete:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>electronic identity verification</li>
          <li>sanctions screening</li>
          <li>politically exposed person (PEP) screening</li>
        </ul>

        <p class="govuk-body">The Responsible person will not have a hard search or footprint on their credit report from these checks.</p>

        <h2 class="govuk-heading-m">Director</h2>

        <p class="govuk-body">This can be the director of the service or someone at director level in your organisation.</p>

        <p class="govuk-body">Examples of appropriate roles include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Chief Executive Officer (CEO)</li>
          <li>Chief Financial Officer (CFO)</li>
          <li>Chief Operating Officer (COO)</li>
        </ul>

        <p class="govuk-body">Stripe requires that you submit a director's:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>first name and surname</li>
          <li>date of birth</li>
          <li>work email address</li>
        </ul>
      </div>
    </div>
  </main>
</div>
