---
title: Roadmap
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Features and roadmap</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/features" itemprop="item"><span itemprop="name">Features</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit on GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-links" itemprop="item"><span itemprop="name">Payment links</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
        <h1 class="heading-large">Roadmap</h1>
            <p>Here’s a list of the new functionality we’re planning to offer through GOV.UK&nbsp;Pay.</p>

            <p class="panel panel-border-wide">This roadmap is only a guide and may change. We work in 3-monthly cycles.</p>
 
             <h2 class="heading-medium">Recently released</h2>
              <ul class="list list-bullet">
                 <li>Support for <a href="https://docs.payments.service.gov.uk/optional_features/digital_wallets/#digital-wallets">Apple Pay and Google Pay</a></li>
                 <li>Apply custom branding to <a href="https://www.payments.service.gov.uk/payment-links/">payment links</a></li> 
                 <li>Payment links in Welsh</li> 
                 <li>Return Provider ID in API searches</li> 
                 <li>Make it easier to reconcile transactions by using metadata</li> 
                 <li>Prepopulate transaction details</li>  
               </ul>
      
             <h2 class="heading-medium">April to June 2019</h2>
              <ul class="list list-bullet">
                <li>Launch Direct Debit service</li>
               </ul>
      
             <h2 class="heading-medium">July to September 2019</h2>
              <ul class="list list-bullet">
                 <li>Support for 3D Secure 2.0</li>
                 <li>Improve conversion rates on our payment pages</li>
                 <li>Reporting for telephone payments</li>
                 <li>Transaction reporting across multiple services</li>
                 <li>Push reporting to services - webhooks for Direct Debit and card payments, scheduled CSVs delivered to a secure location</li>
               </ul>
      
            <h2 class="heading-medium">Later</h2>
              <ul class="list list-bullet">
                <li>Recurring card payments</li>
                <li>Scheduled Direct Debit</li>
                <li>Telephone payments</li>
                <li>Chip and pin payments</li>
              </ul>
     
            <h2 class="heading-medium">Get in touch</h2>
            <p><a href="https://www.payments.service.gov.uk/support/">Let us know</a> if you have any questions, or there are other features you’d like us to develop.</p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdJRj0asGOu3VJZ-0UPmx0T6w7FMsdduRAS51k18TS2XlNC7w/viewform">Sign up to the GOV.UK Pay newsletter</a> to find out more.</p>
    </div>
  </div>
</div>
