---
title: Roadmap
---
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page"><%= current_page.data.title %></a>
      </li>
    </ol>
  </div>
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/cost-benefits-of-pay" itemprop="item"><span itemprop="name">Cost benefits of pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/take-payments-by-phone-or-post" itemprop="item"><span itemprop="name">Take payments by phone or post</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/security" itemprop="item"><span itemprop="name">Security and compliance</span></a>
            </li>
          </ol>
        </nav>
      </div>
      
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Roadmap</h1>
        <p class="govuk-body">Here’s a list of the new and improved functionality we’re planning to offer through GOV.UK&nbsp;Pay.</p>
        <div class="govuk-inset-text">
          <p class="govuk-body">This roadmap is only a guide and may change. We work in 3-monthly cycles.</p>
        </div>
         <h2 class="govuk-heading-l">Recently released</h2>
        <h3 class="govuk-heading-m">New contracts</h3>
        <p class="govuk-body">New cheaper centralised contracts are now in place. GOV.UK Pay and Government Banking have completed re-procurements for our respective contracts with payment providers. The new contracts have lowered fees for most transactions.</p>
        <h3 class="govuk-heading-m">Improvements for Stripe users</h3>
        <p class="govuk-body">As part of the move to new contracts, all transactions using the GOV.UK Pay contract with Stripe benefit from improved fraud protection which means we now include fees on failed payments. We have adjusted our reporting functionality to accommodate this.</p>
        <p class="govuk-body">We updated the onboarding process in response to new Know Your Customer regulations.</p>
        <p class="govuk-body">Finally, Stripe users can now <a class="govuk-link" href="https://docs.payments.service.gov.uk/testing_govuk_pay/#testing-the-whole-user-journey">request a Stripe test account</a>, allowing them to see how transaction fees and payments to your bank account will work before they go live.</p>
        <h3 class="govuk-heading-m">Switch payment provider more easily</h3>
        <p class="govuk-body">Payment provider switching functionality within Pay’s admin tool enables services to easily switch their underlying payment providers between the central contracts without any changes to code or API keys.</p>
 <h3 class="govuk-heading-m">Use an external telephone payment system to send card details to the API</h3>
        <p class="govuk-body">Services can now use external telephone payment systems to collect card details and send them to GOV.UK Pay via <a class="govuk-link" href="https://docs.payments.service.gov.uk/send_card_details_api/>a new API</a>. This allows these payments to be processed and reported on in the same way as online payments through GOV.UK Pay.</p>
        <h3 class="govuk-heading-m">API reference</h3>
        <p class="govuk-body">We’ve released a new <a class="govuk-link" href="https://docs.payments.service.gov.uk/api_reference/>API reference</a>, making it easier for developers to understand how to integrate with GOV.UK Pay.</p>
        <h3 class="govuk-heading-m">Infrastructure migration</h3>
        <p class="govuk-body">We’ve migrated our infrastructure to AWS Fargate, making sure we can scale and maintain the platform in an efficient and resilient way.</p>
        <h3 class="govuk-heading-m">Improved payment pages</h3>
        <p class="govuk-body">We’ve revised the journey for creating <a class="govuk-link" href="https://www.payments.service.gov.uk/govuk-payment-pages/>payment pages</a>, and making a payment using them. Users are now asked for one thing per page, and services can <a class="govuk-link" href="https://docs.payments.service.gov.uk/prefill_payment_links/>provide links with the amount and reference pre-filled</a>.</p>
        <h2 class="govuk-heading-l">What we're working on</h2>
        <h3 class="govuk-heading-m">Users will be able to make recurring payments</h3>
        <p class="govuk-body">Users will be able to agree to allow a service to take payments in the future without their intervention, for example to pay for a licence that renews on a monthly or annual basis.</p>
        <h4 class="govuk-heading-s">Now</h4>
        <p class="govuk-body">Some services are testing the functionality in a private beta sandbox.</p>
        <h4 class="govuk-heading-s">Next</h4>
        <p class="govuk-body">Before the end of 2022, private beta services will be able to take live recurring payments. </p>
        <h4 class="govuk-heading-s">Later</h4>
        <p class="govuk-body">
We’ll iterate based on what we learn and plan to release the functionality to all services.</p>
        <p class="govuk-body">
Email <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk">govuk-pay-support@digital.cabinet-office.gov.uk</a> if you’d like to be part of our research and testing.</p>
        <h3 class="govuk-heading-m">Better support for reconciling payments and processing invoices</h3>
        <p class="govuk-body">
We want to better support financial processes for inbound payments. Enterprise resource planning (ERP) software is used as part of these processes in central government. As part of the <a class="govuk-link" href="https://www.gov.uk/government/publications/a-shared-services-strategy-for-government"Government Shared Services strategy</a>, departments are adopting cloud-based ERP software, creating new opportunities for GOV.UK Pay to make finance processes easier and cheaper.</p>
        <h4 class="govuk-heading-s">Now</h4>
        <p class="govuk-body">We’re working with the Government Finance Function to ensure that GOV.UK Pay will be integrated with all ERP systems that are adopted.</p>
        <h4 class="govuk-heading-s">Next</h4>
        <p class="govuk-body">Continue to pilot ways of integrating ERP systems with GOV.UK Pay to support efficient and automated Order to Cash processes.</p>
        <h4 class="govuk-heading-s">Later</h4>
        <p class="govuk-body">We’ll make any changes needed to support integrations to all central government ERP systems, and to meet the Government Finance Function data standard.</p>
        <h3 class="govuk-heading-m">Other improvements</h3>
<ul class="govuk-list govuk-list--bullet">
<li>We’ll make infrastructure improvements to make GOV.UK Pay more reliable, cheaper to run, and easier to support and iterate.</li>
<li>We’ll make improvements to our documentation to make it easier to understand how to use GOV.UK Pay.</li>
<li>We’ll allow users to use authentication apps for their <a class="govuk-link" href="https://www.ncsc.gov.uk/guidance/setting-2-step-verification-2sv">second step verification</a> when signing into GOV.UK Pay for the first time. At the moment, this can only be changed after the first login, which causes issues for some overseas users.</li>
        </ul>
        <h2 class="govuk-heading-l">Get in touch</h2>
        <p class="govuk-body">
Email <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk">govuk-pay-support@digital.cabinet-office.gov.uk</a> if you’d like to be involved in research, if you have any questions, or there are other features you’d like us to develop.</p>
        <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdJRj0asGOu3VJZ-0UPmx0T6w7FMsdduRAS51k18TS2XlNC7w/viewform">Sign up to GOV.UK Pay updates</a> to find out more about what we’re working on and our plans for the future.</p>
       

          </div>
        </main>
      </div>
