---
title: Roadmap
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Features and roadmap</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/features" itemprop="item"><span itemprop="name">Features</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider
</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
        <h1 class="heading-large">Roadmap</h1>
            <p>Here’s a list of the new functionality we’re planning to offer through GOV.UK&nbsp;Pay.</p>

            <p class="panel panel-border-wide">This roadmap is a only a guide and may change from month to month.</p>
      
            <h2 class="heading-small">January to March 2019</h2>
              <ul class="list list-bullet">
                 <li>Support for Apple Pay and Google Pay</li>
                 <li>Apply custom branding to <a href="https://www.payments.service.gov.uk/payment-links/">payment links</a></li> 
                 <li>Payment links in Welsh language</li> 
                 <li>Payment and refund confirmation emails in Welsh language</li>
                 <li>Return Provider ID in API searches</li> 
                 <li>Attach metadata to transactions (for example, fund and ledger codes)</li> 
               </ul>
      
             <h2 class="heading-small">April to June 2019</h2>
              <ul class="list list-bullet">
                 <li>Launch Direct Debit service</li>
                 <li>Reporting for telephone payments</li>
                 <li>Transaction reporting across multiple services</li>
               </ul>
      
             <h2 class="heading-small">July to September 2019</h2>
              <ul class="list list-bullet">
                 <li>Support for 3D Secure 2.0</li>
                 <li>Improve conversion rates on our payment pages</li>
                 <li>Reporting for telephone payments</li>
                 <li>Push reporting to services - webhooks for Direct Debit and card payments, scheduled CSVs delivered to a secure location</li>
               </ul>
      
            <h2 class="heading-small">Later in 2019 - 2020</h2>
              <ul class="list list-bullet">
                <li>Recurring card payments</li>
                <li>Scheduled, recurring Direct Debit</li>
                <li>Telephone payments</li>
                <li>Chip and pin payments</li>
              </ul>
     
            <h2 class="heading-medium">Queries and suggestions</h2>
            <p>If you want to find out more about these features, or have some needs that GOV.UK Pay isn’t yet meeting, please get in touch with us by emailing <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> or chat with us in our <a href="https://ukgovernmentdigital.slack.com/messages/govuk-pay" data-click-events data-click-category="Content" data-click-action="External link clicked">cross-government Slack channel</a>.</p>
    </div>
  </div>
</div>
