---
title: Roadmap - GOV.UK Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Features and roadmap</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/features" itemprop="item"><span itemprop="name">Features</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
        <h1 class="heading-large">Roadmap</h1>
            <p>Here’s a list of the new functionality we’re planning to offer through GOV.UK&nbsp;Pay.</p>

            <p class="panel panel-border-wide">This roadmap is a only a guide and may change from month to month.</p>

            <h2 class="heading-small">July to September 2017</h2>
              <ul class="list list-bullet">
                <li>Improved onboarding experience</li>
                <li>Self service account creation and team management</li>
                <li>Support for Barclays ePDQ payment gateway</li>
                <li>Improved refund-related reporting</li>
                <li>Test and increase performance (transactions per second)</li>
                <li>Improved deployment of applications in our infrastructure</li>
                <li>Finalised contract for non-Crown bodies</li>
              </ul>
      
      <h2 class="heading-small">October to December 2017</h2>
              <ul class="list list-bullet">
                <li>Improved settlement reporting for bank reconciliation</li>
                <li>Direct Debit - Part 1</li>
                <li>Enable offline services to take ad hoc payments online</li>
                <li>Further operational improvements</li>
                <li><a href="https://gds.blog.gov.uk/2017/09/12/local-government-pay/"  data-click-events data-click-category="Content" data-click-action="External link clicked">Run a pilot with local authorities</a></li>
              </ul>
      
            <h2 class="heading-small">January to March 2018</h2>
              <ul class="list list-bullet">
                <li>Reporting across multiple services</li>
                <li>Direct Debit - Part 2</li>
                <li>Enable offline services to have invoices paid online</li>
                <li>3DSecure for Barclays Smartpay and ePDQ</li>
              </ul>

            <h2 class="heading-small">Later</h2>
              <ul class="list list-bullet">
                <li>Foreign currency and language support</li>
                <li>Telephone card payments</li>
                <li>Support for eWallets</li>
                <li>Support for Pay via Bank Account (PSD2)</li>
                <li>Enable services to publish and sell from a product catalogue</li>
              </ul>

            <h2 class="heading-medium">Queries and suggestions</h2>
            <p>If you want to find out more about these features, or have some needs that GOV.UK Pay isn’t yet meeting, please get in touch with us by emailing <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" data-click-events data-click-category="Content" data-click-action="Email link clicked">govuk-pay-support@digital.cabinet-office.gov.uk</a> or chat with us in our <a href="https://ukgovernmentdigital.slack.com/messages/govuk-pay" data-click-events data-click-category="Content" data-click-action="External link clicked">cross-government Slack channel</a>.</p>
    </div>
  </div>
</div>
