---
title: Roadmap
---
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page"><%= current_page.data.title %></a>
        </li>
    </ol>
  </div>
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/take-payments-by-phone-or-post" itemprop="item"><span itemprop="name">Take payments by phone or post</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/security" itemprop="item"><span itemprop="name">Security and compliance</span></a>
            </li>
          </ol>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Roadmap</h1>
            <p class="govuk-body">Here’s a list of the new and improved functionality we’re planning to offer through GOV.UK&nbsp;Pay.</p>
            <div class="govuk-inset-text">
              <p class="govuk-body">This roadmap is only a guide and may change. We work in 3-monthly cycles.</p>
            </div>
             <h2 class="govuk-heading-m">Recently released</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>Protection for in-flight payments when switching between 3D Secure 1 and Worldpay’s 3DS Flex, so that users don’t have to retry payments</li>
                <li>Security keys for 3DS Flex are checked when entered, so that users’ payments won’t be disrupted</li>
                <li>Added support for Google Pay due to Strong Customer Authentication requirements</li>
                <li>Made it easier to add reporting columns to payment links, for collecting data like cost centre codes</li>
                <li>Made Stripe payout data available via API as well as CSV download</li>
                <li>Improved guidance on for MOTO payments, custom branding and Strong Customer Authentication</li>
                <li>Various operational improvements and bug fixes to make sure GOV.UK Pay is a reliable, available and secure service that performs well for services and paying users</li>
              </ul>

            <h2 class="govuk-heading-m">What we’ve learned through research</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>The paying user experience supports users with accessible needs well, but entering long card numbers is confusing and time-consuming for users with cognitive impairments</li>
                <li>We can add hint text to make it easier for paying users with cognitive impairments to enter the correct numbers first time around</li>
                <li>All paying users would benefit from clearer warnings about the steps they’ll need to take in 3D Secure verification, which might also reduce the number of abandoned transactions</li>
                <li>Finance and technical users would benefit from better guidance about how to manage reporting and reconciliation on their GOV.UK Pay service</li>
              </ul>

             <h2 class="govuk-heading-m">Things we’re working on</h2>

              <p class="govuk-body">We’re focusing on delivering improvements to the experience for service users of GOV.UK Pay. We continue to do operational and performance work that supports GOV.UK Pay’s growth and makes it more efficient to run.</p>
              <p class="govuk-body">This includes:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>making it easier for service teams to understand and start using Pay, through better content on our product pages and making our admin tool easier to navigate</li>
                <li>making GOV.UK Pay’s infrastructure run even more efficiently</li>
               </ul>

              <p class="govuk-body">Alongside our delivery work, we’re also running two discoveries this quarter:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>to prioritise which payment types and channels we build to meet services’ needs for their paying users</li>
                <li>to understand how GOV.UK Pay can support the new finance patterns and software changes in central government, to make reporting and reconciliation easier</li>
               </ul>

            <h2 class="govuk-heading-m">Up next</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>Alphas based on what we’ve learned in our discoveries</li>
                <li>Telephone payment links for services that can’t integrate with our API</li>
              </ul>

              <h2 class="govuk-heading-m">Later</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Improved support for services managing invoices</li>
                  <li>Retry sending emails when GOV.UK Notify has an outage</li>
                  <li>Make our existing performance data publicly available</li>
                  <li>Support Welsh-language users to receive a receipt after making a payment</li>
                </ul>

                <h2 class="govuk-heading-m">Things we're exploring</h2>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Working with Government Shared Services, Government Finance Function and Government Banking to make it easier for central government teams to start using Pay</li>
                    <li>How we might involve service teams more directly and frequently in prioritising our roadmap based on collective needs</li>
                  </ul>

            <h2 class="govuk-heading-m">Get in touch</h2>
            <p class="govuk-body"><a class="govuk-link" href="https://www.payments.service.gov.uk/support/">Let us know</a> if you'd like to be involved in research, if you have any questions, or there are other features you’d like us to develop.</p>
            <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdJRj0asGOu3VJZ-0UPmx0T6w7FMsdduRAS51k18TS2XlNC7w/viewform">Sign up to the GOV.UK Pay updates</a> to find out more about what we’re working on and our plans for the future.</p>
    </div>
  </main>
</div>
