---
title: Roadmap
---
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page"><%= current_page.data.title %></a>
        </li>
    </ol>
  </div>
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/security" itemprop="item"><span itemprop="name">Security</span></a>
            </li>
          </ol>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Roadmap</h1>
            <p class="govuk-body">Here’s a list of the new functionality we’re planning to offer through GOV.UK&nbsp;Pay.</p>
            <div class="govuk-inset-text">
              <p class="govuk-body">This roadmap is only a guide and may change. We work in 3-monthly cycles.</p>
            </div>
             <h2 class="govuk-heading-m">Recently released</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>Return card type (debit/ credit) in API searches</li>
                <li>Reporting for telephone payments</li>
                <li>Support for 3D Secure 2</li>
              </ul>

             <h2 class="govuk-heading-m">October to December 2019</h2>

              <p class="govuk-body">This quarter, we’re focussing on work that supports GOV.UK Pay’s growth and making it more efficient to run, including:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Moving to a new platform</li>
                <li>Implementing <a class="govuk-link" href="https://landing.google.com/sre/sre-book/chapters/service-level-objectives/#indicators-o8seIAcZ">service level objectives</a></li>
                <li>Transaction rate limits that are tailored to your service’s needs</li>
               </ul>

              <p class="govuk-body">We’re also working on:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Transaction reporting across multiple services</li>
                <li>Increasing the CSV download limit from 10,000</li>
                <li>Additional accessibility research</li>
              </ul>

            <h2 class="govuk-heading-m">Later</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>Payout reporting for services using GOV.UK Pay's <a class="govuk-link" href="https://www.payments.service.gov.uk/payment-service-provider/">Payment Service Provider</a>, Stripe</li>
                <li>Support for Apple Pay and Google Pay for services using GOV.UK Pay's PSP</li>
                <li>Scheduled CSV downloads</li>
                <li>Recurring card payments</li>
                <li>Extending our Direct Debit pilot</li>
              </ul>
     
            <h2 class="govuk-heading-m">Get in touch</h2>
            <p class="govuk-body"><a class="govuk-link" href="https://www.payments.service.gov.uk/support/">Let us know</a> if you have any questions, or there are other features you’d like us to develop.</p>
            <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdJRj0asGOu3VJZ-0UPmx0T6w7FMsdduRAS51k18TS2XlNC7w/viewform">Sign up to the GOV.UK Pay newsletter</a> to find out more.</p>
    </div>
  </main>
</div>
