---
title: Roadmap
---
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page"><%= current_page.data.title %></a>
        </li>
    </ol>
  </div>
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/take-payments-by-phone-or-post" itemprop="item"><span itemprop="name">Take payments by phone or post</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/security" itemprop="item"><span itemprop="name">Security and compliance</span></a>
            </li>
          </ol>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Roadmap</h1>
            <p class="govuk-body">Here’s a list of the new and improved functionality we’re planning to offer through GOV.UK&nbsp;Pay.</p>
            <div class="govuk-inset-text">
              <p class="govuk-body">This roadmap is only a guide and may change. We work in 3-monthly cycles.</p>
            </div>
             <h2 class="govuk-heading-m">Recently released</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>Making GOV.UK Pay more accessible for users</li>
                <li>Hide sensitive card details when call centre agents are working from home (a <a class="govuk-link" href="https://www.payments.service.gov.uk/take-payments-by-phone-or-post/">MOTO payments</a> feature)</li>
                <li>Increased the <a class="govuk-link" href="https://docs.payments.service.gov.uk/custom_metadata/#add-custom-metadata">metadata</a> value limit from 50 to 100 characters</li>
                <li>Reports on bank payouts from Stripe available via CSV and API</li>
                <li>Performance improvements to the Transactions page in the <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/login">admin tool</a></li>
                <li>Various operational improvements and bug fixes</li>

              </ul>

             <h2 class="govuk-heading-m">Things we're working on</h2>

              <p class="govuk-body">We’re focusing on work that improves the experience for service users of GOV.UK Pay, as well as work that helps service teams be compliant with <a class="govuk-link" href="https://www.fca.org.uk/consumers/strong-customer-authentication">Strong Customer Authentication</a> regulations. We continue to do work that supports GOV.UK Pay’s growth and makes it more efficient to run.</p>
              <p class="govuk-body">This includes:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Making it easier for service teams to understand and start using Pay</li>
                <li>Redesign the payments journey to reduce the number of abandoned payments</li>
                <li>Doing further research into accessibility and where we might need to improve the experience for paying users</li>
                <li>Making GOV.UK Pay’s infrastructure run even more efficiently</li>
               </ul>

            <h2 class="govuk-heading-m">Up next</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>Retry sending emails when GOV.UK Notify has an outage</li>
                <li>Make our existing performance data publicly available</li>
                <li>Support Welsh-language users to receive a receipt after making a payment</li>
              </ul>

              <h2 class="govuk-heading-m">Later</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Automated telephone payments (IVR) alpha and private beta</li>
                  <li>Support for processing and reporting on payments made via a call centre supplier</li>
                  <li>Discovery into recurring payments</li>
                  <li>Improved support for services managing invoices</li>
                </ul>

                <h2 class="govuk-heading-m">Things we're exploring</h2>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Working with Government Shared Services, Government Finance Function and Government Banking to make it easier for central government teams to start using Pay</li>
                    <li>Making income management easier in local government by working with the <a class="govuk-link" href="https://pipeline.localgov.digital/wiki/484/mhclg-local-digital-fund-alpha-project-exploring-income-management-and-e-pa#">MHCLG-funded alpha, led by Barnsley Council</a></li>
                    <li>Making it easier for service teams to take and manage payments by Direct Debit by working with Government Finance Function and Government Banking Service</li>
                  </ul>

            <h2 class="govuk-heading-m">Get in touch</h2>
            <p class="govuk-body"><a class="govuk-link" href="https://www.payments.service.gov.uk/support/">Let us know</a> if you'd like to be involved in research, if you have any questions, or there are other features you’d like us to develop.</p>
            <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdJRj0asGOu3VJZ-0UPmx0T6w7FMsdduRAS51k18TS2XlNC7w/viewform">Sign up to the GOV.UK Pay updates</a> to find out more about what we’re working on and our plans for the future.</p>
    </div>
  </main>
</div>
