---
title: Security and compliance
---
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/service-toolkit#gov-uk-services">GOV.UK services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">GOV.UK&nbsp;Pay</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#main-content" aria-current="page"><%= current_page.data.title %></a>
        </li>
    </ol>
  </div>
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
          <ol itemscope itemtype="http://schema.org/ItemList">
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/govuk-payment-pages" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/api-integration" itemprop="item"><span itemprop="name">API integration</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--sub" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/take-payments-by-phone-or-post" itemprop="item"><span itemprop="name">Take payments by phone or post</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Apple Pay and Google Pay</span></a>
            </li>
            <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
            </li>
            <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a class="govuk-link" href="/security" itemprop="item"><span itemprop="name">Security and compliance</span></a>
            </li>
          </ol>
        </nav>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Security and compliance</h1>

        <p class="govuk-body">GOV.UK Pay provides a safe and Payment Card Industry (PCI) compliant platform to process card payments.</p>

        <p class="govuk-body">You can find more information about our security and compliance in the <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/policy/download/memorandum-of-understanding-for-crown-bodies" data-click-events data-click-category="Content" data-click-action="External link clicked">memorandum of understanding (for crown bodies)</a> and <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/policy/download/contract-for-non-crown-bodies" data-click-events data-click-category="Content" data-click-action="External link clicked">contract (for non-crown bodies</a>, for example local authorities and the NHS). These are available in the footer when you sign in to your account.</p>

        <h2 class="govuk-heading-m">PCI compliance</h2>

        <p class="govuk-body">GOV.UK Pay is certified as a level 1 service provider with the Payment Card Industry Data Security Standard (PCI DSS) version 3.2.1. The PCI DSS provides guidance to help maintain payment security.</p>

        <p class="govuk-body">If you need to see our <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/policy/download/pci-dss-attestation-of-compliance" data-click-events data-click-category="Content" data-click-action="External link clicked">proof of our compliance</a> (also known as ‘attestation of compliance’), just sign in to your test account and you’ll find a link to it in the footer.</p>

        <p class="govuk-body">If you’d like to <a class="govuk-link" href="https://www.payments.service.gov.uk/take-payments-by-phone-or-post/">take payments by phone or post</a>, you’ll also need to be PCI compliant. Before you can take payments like this, you’ll need to show us proof of your PCI compliance.</p>

        <p class="govuk-body">For a trial period, we’re going to be offering free 1-2-1 support on all your PCI questions. So, <a class="govuk-link" href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk">get in touch</a> with all your questions.</p>

        <p class="govuk-body"><a class="govuk-link" href="https://docs.payments.service.gov.uk/security/#payment-card-industry-pci-compliance" data-click-events data-click-category="Content" data-click-action="External link clicked">More information about PCI compliance is in our technical documentation.</a></p>

        <h2 class="govuk-heading-m">Government security guidelines</h2>

        <p class="govuk-body">GOV.UK Pay supports the <a class="govuk-link" href="https://www.gov.uk/service-manual/technology/using-https" data-click-events data-click-category="Content" data-click-action="External link clicked">government HTTPS security guidelines</a>.</p>
        <p class="govuk-body">HTTPS protects information from being intercepted by malicious third parties as it travels over the internet. Using HTTPS ensures our connections on GOV.UK Pay are secure.</p>
        <p class="govuk-body">GOV.UK Pay also supports all the mandatory requirements for Government ICT systems and services.</p>

        <h2 class="govuk-heading-m">GOV.UK Pay is independently tested</h2>

        <p class="govuk-body">The GOV.UK Pay environment is regularly tested by independent suppliers.</p>

        <p class="govuk-body">This includes:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>at least one annual IT Health Check</li>
          <li>internal and external vulnerability scanning</li>
        </ul>

        <p class="govuk-body">GOV.UK Pay is also independently assessed for its PCI DSS compliance.</p>

        <h2 class="govuk-heading-m">Data handling</h2>

        <p class="govuk-body">We only collect the data necessary to run GOV.UK Pay.</p>

        <p class="govuk-body">We won’t retain that data any longer than we need it, and definitely no longer than 7 years, and only share it if it’s necessary to run GOV.UK Pay or if required by law.</p>

        <p class="govuk-body">GOV.UK Pay is the data processor and your service is the data controller. The data protection/data processing agreement is in schedule 4 of the memorandum of understanding and schedule 5 of the contract.</p>

        <h2 class="govuk-heading-m">Liability</h2>

        <p class="govuk-body">Section 13 in the memorandum of understanding and contract sets out the liability between GOV.UK Pay and your service.</p>

        <h2 class="govuk-heading-m">Fraud prevention</h2>

        <p class="govuk-body">While anti-fraud measures are generally set by your payment service provider, we have <a class="govuk-link" href="https://docs.payments.service.gov.uk/security/#preventing-fraudulent-payments" data-click-events data-click-category="Content" data-click-action="External link clicked">designed some features to help</a>.</p>

        <p class="govuk-body">For instance, you can block users from using prepaid cards to make payments. Or, Worldpay users can set their account to refuse a transaction if IP address isn’t provided. This is particularly useful if your service has a higher risk profile.</p>

        <h2 class="govuk-heading-m">Cloud Security Principles</h2>

        <p class="govuk-body">GOV.UK Pay has implemented the <a class="govuk-link" href="https://www.ncsc.gov.uk/collection/cloud-security?curPage=/collection/cloud-security/implementing-the-cloud-security-principles" data-click-events data-click-category="Content" data-click-action="External link clicked">Cloud Security Principles</a>.</p>

        <h2 class="govuk-heading-m">Accessibility</h2>

        <p class="govuk-body">GOV.UK Pay is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" data-click-events data-click-category="Content" data-click-action="External link clicked">Web Content Accessibility Guidelines version 2.1</a> AA. More information is in our <a class="govuk-link" href="https://www.payments.service.gov.uk/accessibility-statement/">accessibility statement</a>.</p>

        <h2 class="govuk-heading-m">GOV.UK Service Manual</h2>
        <p class="govuk-body">GDS services follow the standards described in the <a class="govuk-link" href="https://www.gov.uk/service-manual" data-click-events data-click-category="Content" data-click-action="External link clicked">GOV.UK Service Manual</a>.</p>

        <p class="govuk-body">The standards describe the best way to build and run a service and include advice about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>accessibility and assisted digital</li>
          <li>agile delivery</li>
          <li>design</li>
          <li>technology</li>
        </ul>

        <h2 class="govuk-heading-m">Further information</h2>

        <p class="govuk-body">Further detail about security and compliance is available in the memorandum of understanding (for crown bodies) and contract (for non-crown bodies) and in our <a class="govuk-link" href="https://docs.payments.service.gov.uk/security/#security" data-click-events data-click-category="Content" data-click-action="External link clicked">technical documentation</a>.</p>
    </div>
  </main>
</div>
