---
title: Support
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Support</h1>
        <p class="govuk-body">GOV.UK&nbsp;Pay is built and supported 24/7 by a full-time team at the Government Digital Service.</p>
        <p class="govuk-body">
          Follow our
          <%=
            link_to 'guide to getting started',
                    'getstarted',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'Internal link clicked'
          %>
          to create an account.
        </p>
        <p class="govuk-body">
          GOV.UK&nbsp;Pay’s support is for government services, and does not provide support for individual members of the public paying for services. If you are a member of the
          public experiencing technical difficulties paying for a specific service, please contact that service’s support directly.
        </p>
        <h2 class="govuk-heading-m">Support process</h2>
        <p class="govuk-body">
          If you have a problem, first check for known issues on the
          <%=
            link_to 'GOV.UK&nbsp;Pay system status page',
                    'https://payments.statuspage.io/',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'External link clicked'
          %>. Subscribe to get alerts on the progress of any listed issue.
        </p>

        <h3 class="govuk-heading-s">During office hours</h3>
        <p class="govuk-body">
          Our office hours are 9.30am to 5.30pm, Monday to Friday. You can email us at
          <%=
            mail_to 'govuk-pay-support@digital.cabinet-office.gov.uk',
                    'govuk-pay-support@digital.cabinet-office.gov.uk',
                    :class => 'govuk-link',
                    'data-click-events' => '',
                    'data-click-category' => 'Content',
                    'data-click-action' => 'Email link clicked'
          %>. We’ll reply within 2 working days. The team are available out of hours in an emergency.
        </p>

        <h3 class="govuk-heading-s">Out of hours support in an emergency</h3>
        <p class="govuk-body">
          We offer 24 hour online support for critical incidents affecting live services. We’ll reply within 30 minutes and give you hourly updates until the problem’s fixed.
        </p>
        <p class="govuk-body">It’s only an emergency if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>no one in your team can log in</li>
          <li>a significant number of users are not able to make a payment</li>
          <li>you have reasons to believe sensitive data has been leaked</li>
        </ul>

        <p class="govuk-body">You can find the emergency contact details in your GOV.UK&nbsp;Pay contract or MoU and in the go live email we sent you.</p>
      </div>
    </div>
  </main>
</div>
