---
title: GOV.UK Pay support
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Support</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">

      <h1 id="heading-1">GOV.UK Pay support</h1>
      <p>To learn more about GOV.UK Pay, contact the team at:</p>

      <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk" target="_top">govuk-pay-support@digital.cabinet-office.gov.uk</a>

      <h2 id="heading-2">New requests</h2>
      <p>Email us with:</p>
      <ul class="list list-bullet">
          <li>your name, email address and phone number</li>
          <li>your government organisation name</li>
          <li>a brief description of your service</li>
          <li>a link to your online service if you have one</li>
      </ul>

      <h2 id="heading-2">More information</h2>
      <p>See how use GOV.UK Pay with our <a href="https://gds-payments.gelato.io/docs/versions/1.0.0">technical documentation</a></p>

  </div>
</div>
