---
title: Using GOV.UK Pay
---

<div class="govuk-width-container">
  <main id="main-content" class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <%= partial 'partials/features-sub-nav.html.erb', locals: { current_page: current_page.data.title } %>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Using GOV.UK&nbsp;Pay</h1>

        <p class="govuk-body">
          GOV.UK&nbsp;Pay is a free service, available to public sector organisations to take online card payments. There’s no monthly charge, no set-up fee and no procurement
          process. It enables service teams to replace offline payment methods quickly and easily, providing a Payment Card Industry (PCI) fully compliant, secure and accessible
          user experience hosted on GOV.UK.
        </p>
        <p class="govuk-body">
          It takes a couple of minutes to
          <a class="govuk-link" href="https://selfservice.payments.service.gov.uk/register/email-address">create an account</a>
          and you can take payments within a day using our
          <%= link_to 'payment link functionality', 'govuk-payment-pages', class: 'govuk-link' %>
          but many services opt for a richer experience and integrate with our well-documented API.
        </p>
        <p class="govuk-body">With GOV.UK&nbsp;Pay you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            take debit card, credit card and digital wallets payments via our API integration or payment links functionality
            <%= link_to 'take recurring payments', 'recurring-payments', class: 'govuk-link' %>
            for ongoing services that automatically renew, for example licensing
          </li>
          <li>
            provide assisted digital methods by taking debit and credit card payments by telephone, or post with
            <%= link_to 'MOTO payment', 'take-payments-by-phone-or-post', class: 'govuk-link' %>
            functionality
          </li>
          <li>give full or partial refunds</li>
          <li>report on payments manually with CSV downloads or automatically via our API</li>
          <li>apply custom branding on your payment pages</li>
        </ul>
        <h2 class="govuk-heading-m">Who can use GOV.UK&nbsp;Pay</h2>
        <p class="govuk-body">Most public sector organisations can use Pay, for example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>central government departments</li>
          <li>local authorities</li>
          <li>armed forces</li>
          <li>NHS, including NHS trusts</li>
          <li>emergency services</li>
        </ul>

        <p class="govuk-body">
          However, public sector organisations are not allowed to use GOV.UK&nbsp;Pay for commercial ‘intended for profit’ purposes. If your organisation is an 'enterprise' as
          described in the <a class="govuk-link" href="https://www.legislation.gov.uk/ukpga/2022/23/enacted">Subsidy Control Act 2022</a> you will not be able to use
          GOV.UK&nbsp;Pay.
        </p>

        <h2 class="govuk-heading-m">What GOV.UK&nbsp;Pay offers</h2>

        <h3 class="govuk-heading-s">Payment Service Provider</h3>
        <p class="govuk-body">
          You need a Payment Service Provider (PSP) to process payments through GOV.UK&nbsp;Pay. We’ve already procured Stripe as our payment provider for you if you work for a
          local authority, police force or a government-owned charitable group.
        </p>
        <p class="govuk-body">
          Alternatively, if you are a central government or health sector organisation, you can use Government Banking’s centralised contract currently held with Worldpay.
        </p>
        <p class="govuk-body">
          When these contracts and/or suppliers change we will handle the technical integration and make the switch as seamless as possible for public sector users.
        </p>
        <h3 class="govuk-heading-s">Refunds</h3>
        <p class="govuk-body">Provide full or partial refunds to your users for free</p>

        <h3 class="govuk-heading-s">Security</h3>
        <p class="govuk-body">3D Secure 2 is available on all payments taken on GOV.UK&nbsp;Pay.</p>

        <h3 class="govuk-heading-s">Data for reporting and reconciliation</h3>
        <p class="govuk-body">You can get a lot of information from GOV.UK Pay. At any time you can get data about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>transactions for each of your services</li>
          <li>transactions across all of your services in one place</li>
          <li>payouts to your bank account</li>
          <li>the history of all transactions (for 7 years)</li>
          <li>
            <a class="govuk-link" href="https://docs.payments.service.gov.uk/reporting/#add-more-information-to-a-payment-39-custom-metadata-39-or-39-reporting-columns-39">
              custom metadata
            </a>
            to help with financial reporting
          </li>
        </ul>
        <p class="govuk-body">You can get this data in different formats:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>using our easy-to-use Admin tool</li>
          <li>CSV file downloads to use in your own financial processes</li>
          <li>the API</li>
        </ul>
        <p class="govuk-body">You can filter the data by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>card details</li>
          <li>name</li>
          <li>card type</li>
          <li>date</li>
          <li>transaction status (for example successful, unsuccessful)</li>
          <li>email address</li>
          <li>payment reference</li>
        </ul>
        <p class="govuk-body">
          You can also get
          <a class="govuk-link" href="https://docs.payments.service.gov.uk/webhooks/#receive-automatic-payment-event-updates-using-webhooks">
            automatic notifications about payments using webhooks
          </a>
          .
        </p>

        <h3 class="govuk-heading-s">Custom branding</h3>
        <p class="govuk-body">Customise your payment pages with your own logos and branding.</p>

        <h3 class="govuk-heading-s">Send emails to users</h3>
        <p class="govuk-body">GOV.UK&nbsp;Pay can automatically send emails to your users. For example, to confirm:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>payments</li>
          <li>refunds</li>
        </ul>
        <h3 class="govuk-heading-s">Manage your team</h3>
        <p class="govuk-body">Control what your team members can see and do and remove them if they leave your organisation.</p>
        <h3 class="govuk-heading-s">Standards and support</h3>
        <p class="govuk-body">GOV.UK&nbsp;Pay has been tested against all relevant government accessibility and usability standards. It’s also:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>PCI compliant</li>
          <li>supported 24/7 by the team at the Government Digital Service</li>
          <li>offered with extensive developer documentation</li>
        </ul>

        <h2 class="govuk-heading-m">How to use GOV.UK&nbsp;Pay</h2>
        <p class="govuk-body">Use GOV.UK&nbsp;Pay to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>instantly set up a payment page on GOV.UK</li>
          <li>integrate with our API and generate customised payment pages for your service</li>
        </ul>

        <p class="govuk-body">Use GOV.UK&nbsp;Pay if you currently collect payment on paper or by email.</p>
        <p class="govuk-body">Integrating with our API may be better if you have an online service and, for example, you need to delay payments or issue a lot of refunds.</p>
      </div>
    </div>
  </main>
</div>
