---
title: Using GOV.UK Pay
---

  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="https://www.gov.uk/service-toolkit#gov-uk-services" itemprop="item"><span itemprop="name">GOV.UK services</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">GOV.UK Pay</span></a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#main" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
      </ol>
  </nav>
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation" data-click-events data-click-category="Content" data-click-action="Button clicked">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/using-govuk-pay" itemprop="item"><span itemprop="name">Using GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/roadmap" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/security" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-service-provider" itemprop="item"><span itemprop="name">GOV.UK Pay’s Payment Service Provider</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/direct-debit" itemprop="item"><span itemprop="name">Direct Debit on GOV.UK Pay</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/payment-links" itemprop="item"><span itemprop="name">GOV.UK payment pages</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/apple-pay-and-google-pay" itemprop="item"><span itemprop="name">Using Apple Pay and Google Pay</span></a>
          </li>
        </ol>
      </nav>
    </div>

      <div class="column-two-thirds">
        <h1 class="heading-large">Using GOV.UK Pay</h1>

          <p>Anyone in the public sector can use GOV.UK Pay to take online payments. </p>
          <p>It only takes minutes to get set up with GOV.UK Pay.</p>
          <p>Then you can:</p>
          <ul class="list list-bullet">
            <li>take payments using debit cards, credit cards or digital wallets</li>
            <li>give full or partial refunds</li>
            <li>switch Payment Service Providers, for free, when you choose</li>
            <li>use custom branding on your payment pages</li>
          </ul>

          <p>GOV.UK Pay is ideal if you currently take payments using paper forms, by email or if you have an online service.</p>
          <p><a href="https://selfservice.payments.service.gov.uk/create-service/register">Create an account for free</a> and try it yourself.</p>

          <h2 class="heading-medium">What GOV.UK Pay offers</h2>

          <h3 class="heading-small">Payment Service Provider</h3>
          <p>You need a Payment Service Provider (PSP) to process payments. We’ve already procured Stripe as our payment provider for you. Or, you can bring your own contract with Worldpay, Barclays ePDQ or Smartpay.</p>
          <p>If you ever want to switch PSPs you can do that without any additional technical work.</p>

          <h3 class="heading-small">Refunds</h3>
          <p>Provide full or partial refunds to your users for free </p>

          <h3 class="heading-small">Security</h3>
          <p>3D Secure 2 is available on all payments taken on GOV.UK Pay.</p>

          <h3 class="heading-small">Reporting</h3>
          <p>Download transaction reports about all your payments on GOV.UK Pay.</p>

          <h3 class="heading-small">Custom branding</h3>
          <p>Customise your payment pages with your own logos and branding.</p>

          <h3 class="heading-small">Send emails to users</h3>
          <p>GOV.UK Pay can automatically send emails to your users. For example, to confirm:</p>
          <ul class="list list-bullet">
            <li>payments</li>
            <li>refunds</li>
          </ul>
          <h3 class="heading-small">Manage your team</h3>
          <p>Control what your team members can see and do and remove them if they leave your organisation.</p>
          <h3 class="heading-small">Standards and support</h3>
          <p>GOV.UK Pay has been tested against all relevant government accessibility and usability standards. It’s also:</p>
          <ul class="list list-bullet">
            <li>PCI compliant</li>
            <li>supported 24/7 by the team at the Government Digital Service</li>
            <li>offered with extensive developer documentation</li>
          </ul>

          <h2 class="heading-medium">How to use GOV.UK Pay</h2>
          <p>Use GOV.UK Pay to:</p>
          <ul class="list list-bullet">
            <li>instantly set up a payment page on GOV.UK </li>
            <li>integrate with our API and generate customised payment pages for your service</li>
          </ul>

          <p>Use GOV.UK if you currently collect payment on paper or by email.</p>
          <p>Integrating with our API may be better if you have an online service and you need, for example, to delay payments or issue a lot of refunds.</p>
    </div>
  </div>
</div>
