.breadcrumbs-hero {
  margin: 0 0 govuk-spacing(6);
  padding: govuk-spacing(2) 0;
  border-bottom: 1px solid govuk-colour('light-blue');

  .govuk-breadcrumbs__list-item:last-child a {
    font-weight: bold;
    text-decoration: none;
  }

  .govuk-breadcrumbs__list-item::before {
    border-color: govuk-colour('white');
  }
}
