@use 'govuk' as *;

.govuk-template .govuk-header {
  border-bottom: none;
}

.govuk-template .govuk-service-navigation {
  .govuk-header__link {
    color: govuk-functional-colour(link);
  }

  .govuk-service-navigation__item--active {
    color: govuk-functional-colour(link);
  }
}

.govuk-template .govuk-service-navigation--inverse {
  background-color: govuk-functional-colour(brand);

  .govuk-width-container {
    border-top: 1px solid #8eb8dc;
    border-bottom: 1px solid #8eb8dc;
    margin-bottom: govuk-spacing(2);
  }
  .govuk-service-navigation__toggle:not(:focus) {
    color: govuk-colour('white');
  }

  .govuk-service-navigation__link:not(:focus) {
    color: govuk-colour('white');
  }
}

@include govuk-media-query($from: tablet) {
  .govuk-service-navigation__wrapper {
    width: 100%;
    .govuk-service-navigation__item:last-child {
      margin-left: auto;
    }
  }
}
