.govuk-header__content {
  text-align: right;
}

.service-info--name {
  margin: govuk-spacing(2) 0 govuk-spacing(1);
}

.service-info {
  float: left;
}

.govuk-template--rebranded .govuk-service-navigation {
  .govuk-header__link {
    color: $govuk-link-colour;
  }

  .govuk-service-navigation__item--active {
    color: $govuk-link-colour;
  }
}

.govuk-template--rebranded .govuk-service-navigation--inverse {
  background-color: $govuk-brand-colour;

  .govuk-width-container {
    border-top: 1px solid #8eb8dc;
    border-bottom: 1px solid #8eb8dc;
    margin-bottom: govuk-spacing(2);
  }
  .govuk-service-navigation__toggle:not(:focus) {
    color: govuk-colour('white');
  }

  .govuk-service-navigation__link:not(:focus) {
    color: govuk-colour('white');
  }
}

@include govuk-media-query($from: tablet) {
  .govuk-service-navigation__wrapper {
    width: 100%;
    .govuk-service-navigation__item:last-child {
      margin-left: auto;
    }
  }
}
